<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>

<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Variables Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <p>A typical arithmetic operations takes two numbers and produces a new number.</p>

    <p id="arithDemo1"></p>

    <script>
        var x = 100 + 50;
        document.getElementById("arithDemo1").innerHTML = x;
    </script>
</div>

<div>
    <p>done with variables:</p>

    <p id="arithDemo2"></p>

    <script>
        var a = 100;
        var b = 50;
        var c = a + b;
        document.getElementById("arithDemo2").innerHTML = c;
    </script>
</div>

<div>
    <p>now we are adding a variable to our to create our expression.</p>
    <p id="arithDemo3"></p>

    <script>
        var d = 3;
        var y = (100 + 50) * d;
        document.getElementById("arithDemo3").innerHTML = y;
    </script>
</div>

<div>
    <h2>Operators</h2>
    <h3>The + Operator</h3>
    <p id="arithDemo4"></p>

    <h3>The - Operator</h3>
    <p id="arithDemo5"></p>

    <h3>The * Operator</h3>
    <p id="arithDemo6"></p>

    <h3>The / Operator</h3>
    <p id="arithDemo7"></p>

    <h3>The % Operator</h3>
    <p id="arithDemo8"></p>

    <h3>Incrementation ++ Operator</h3>
    <p id="arithDemo9"></p>

    <script>
        var five = 5;
        var two = 2;

        var plus = five + two;
        var minus = five - two;
        var multiply = five * two;
        var divide = five / two;
        var modulo = five % two;
        five++;
        var increment = five;

        document.getElementById("arithDemo4").innerHTML = plus;
        document.getElementById("arithDemo5").innerHTML = minus;
        document.getElementById("arithDemo6").innerHTML = multiply;
        document.getElementById("arithDemo7").innerHTML = divide;
        document.getElementById("arithDemo8").innerHTML = modulo;
        document.getElementById("arithDemo9").innerHTML = increment;
    </script>
</div>

<div>
    <h3>The -- Operator</h3>
    <p id="arithDemo10"></p>

    <script>
        var equis = 5;
        equis--;
        var zeta = equis;
        document.getElementById("arithDemo10").innerHTML = zeta;
    </script>
</div>

<div>
    <h3>Exponential ** Operator</h3>
    <p id="expoDemo"></p>
    <p id="expoDemo2"></p>

    <script>
        var x = 5;
        var x2 = 10;
        document.getElementById("expoDemo").innerHTML = x ** 2;
        document.getElementById("expoDemo2").innerHTML = Math.pow(x2, 2);
    </script>
</div>

<div>
    <h3>Order of Operations</h3>
    <p>PEMDAS is law!</p>

    <p>Multiplication has precedence over additon.</p>
    <p id="pemdasDemo1"></p>
    <p>But Parenthesis has precedence over multiplication.</p>
    <p id="pemdasDemo2"></p>

    <script>
        document.getElementById("pemdasDemo1").innerHTML = 100 + 50 * 3;
        document.getElementById("pemdasDemo2").innerHTML = (100 + 50) * 3;
    </script>
</div>

</body>
</html>