<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript ArraysMethods Tutorials</h1>

<p>from w3schools.com</p>

<h2>JavaScript Array Methods</h2>

<div>
    <h3>toString()</h3>

    <p>The toString() method returns an array
    as a comma separated string:</p>
    <p id="toStringDemo"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("toStringDemo").innerHTML =
            fruits.toString();
    </script>
</div>

<div>
    <h3>join()</h3>

    <p>The join() method joins array elements into a string.</p>
    <p>In this example, we have used " * " as a separator between
    elements. join() allows you to chose your separator.</p>

    <p id="toJoinDemo"></p>

    <script>
        document.getElementById("toJoinDemo").innerHTML =
            fruits.join(" - * - ");
    </script>
</div>

<div>
    <h3>pop()</h3>

    <p>The pop() method removes the last element from an array.</p>
    <p id="popDemo1"></p>
    <p id="popDemo2"></p>

    <p>The return value of the pop() method is the removed item.</p>
    <p id="popDemo3"></p>

    <script>
        document.getElementById("popDemo1").innerHTML = fruits;
        document.getElementById("popDemo2").innerHTML = fruits.pop();
        document.getElementById("popDemo3").innerHTML = fruits;
    </script>
</div>

<div>
    <h3>push()</h3>

    <p>The push() method appends a new element to an array.</p>

    <button onclick="appendFunc()">Append that Array!</button>

    <p id="pushDemo"></p>

    <script>
        document.getElementById("pushDemo").innerHTML = fruits;

        function appendFunc() {
            fruits.push("Kiwi");
            document.getElementById("pushDemo").innerHTML = fruits;
        }
    </script>
</div>

<div>
    <h3>push()</h3>

    <p>The push() method returns the new array length.</p>

    <button onclick="pushFunc()">Try This Push!</button>

    <p id="pushDemo1"></p>
    <p id="pushDemo2"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("pushDemo1").innerHTML = fruits;

        function pushFunc() {
            document.getElementById("pushDemo2").innerHTML =
                fruits.push("Kiwi");
            document.getElementById("pushDemo1").innerHTML =
                fruits;
        }
    </script>
</div>

<div>
    <h3>shift()</h3>

    <p>The shift() method removes the first element of an array
    (and "shifts" all other elements to the left):</p>

    <p id="shiftDemo1"></p>
    <p id="shiftDemo2"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];
        document.getElementById("shiftDemo1").innerHTML = fruits;
        fruits.shift();
        document.getElementById("shiftDemo2").innerHTML = fruits;
    </script>
</div>

<div>
    <h3>shift()</h3>

    <p>The shift() method returns the element that was shifted out.</p>

    <p id="shift01"></p>
    <p id="shift02"></p>
    <p id="shift03"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];
        document.getElementById("shift01").innerHTML = fruits;
        document.getElementById("shift02").innerHTML = fruits.shift();
        document.getElementById("shift03").innerHTML = fruits;
    </script>
</div>

<div>
    <h3>unshift()</h3>

    <p>The unshift() method adds new elements to the beginning of an
        array.</p>

    <button onclick = "unshiftFunc()">Try it!</button>

    <p id="unshiftDemo"></p>

    <script>
        document.getElementById("unshiftDemo").innerHTML = fruits;

        function unshiftFunc() {
            fruits.unshift("Lemon");
            document.getElementById("unshiftDemo").innerHTML = fruits;
        }
    </script>
</div>

<div>
    <h3>unshift()</h3>

    <p>The unshift() method returns the length of the new array:</p>

    <p id="unshift01"></p>
    <p id="unshift02"></p>
    <p id="unshift03"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];
        document.getElementById("unshift01").innerHTML = fruits;
        document.getElementById("unshift02").innerHTML = fruits.unshift("Lemon");
        document.getElementById("unshift03").innerHTML = fruits;
    </script>

    <p><b>Note:</b>
        The unshift() method does not work properly in Internet Explorer
        8 and earlier, the values will be inserted, but the return value
        will be <em>undefined</em></p>
</div>

<div>
    <h3>Changing Elements</h3>

    <p>Array elements are accessed using their index number:</p>

    <p id="changeDemo1"></p>
    <p id="changeDemo2"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("changeDemo1").innerHTML = fruits;
        fruits[0] = "Kiwi";
        document.getElementById("changeDemo2").innerHTML = fruits;
    </script>
</div>

<div>
    <h3>Changing with Length property</h3>

    <p>The length property provides an easy way to append new
    elements to an array without using the push() method.</p>

    <button onclick="lengthAppend()">Try Adding a Kiwi!</button>

    <p id="changeDemo3"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("changeDemo3").innerHTML = fruits;

        function lengthAppend() {
            fruits[fruits.length] = "Kiwi";

            document.getElementById("changeDemo3").innerHTML = fruits;
        }
    </script>
</div>

<div>
    <h3>Deleting Elements</h3>

    <p>Deleting elements leaves undefined holes in an array.</p>

    <p id="deleteDemo1"></p>
    <p id="deleteDemo2"></p>

    <p>best to use pop() or shift() methods, instead.</p>

    <script>
        document.getElementById("deleteDemo1").innerHTML =
        "The first fruit is: " + fruits[0];

        delete fruits[0];

        document.getElementById("deleteDemo2").innerHTML =
        "The first fruit (after deletion) is: " + fruits[0];
    </script>
</div>

<div>
    <h3>splice()</h3>

    <p>The splice() method adds new elements to an array.</p>

    <button onclick="sliceFunc()">Try and Splice!</button>

    <p id="spliceDemo1"></p>
    <p id="spliceDemo2"></p>

    <script>
        document.getElementById("spliceDemo1").innerHTML =
            "Original Array:<br>" + fruits;

        function sliceFunc() {
            fruits.splice(2, 0, "Lemon", "Kiwi");
            document.getElementById("spliceDemo2").innerHTML =
                "New Array:<br>" + fruits;
        }
    </script>
</div>

<div>
    <h3>splice()</h3>

    <p>The splice() method adds new elements to an array, and returns
    an array with the deleted elements (if any).</p>

    <button onclick="spliceFunc2()">Try splicing now!</button>

    <p id="spliceDemo3"></p>
    <p id="spliceDemo4"></p>
    <p id="spliceDemo5"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("spliceDemo3").innerHTML =
            "Original Array:<br>" + fruits;

        function spliceFunc2() {
            var removed = fruits.splice(2, 2, "Lemon", "Kiwi");

            document.getElementById("spliceDemo4").innerHTML =
                "New Array:<br> " + fruits;

            document.getElementById("spliceDemo5").innerHTML =
                "Removed Items: <br> " + removed;
        }
    </script>
</div>

<div>
    <h3>splice() to remove</h3>

    <p>The splice() methods can be used to remove array elements.</p>

    <button onclick="spliceRemove()"></button>

    <p id="spliceRemoveDemo">Remove the first fruit!</p>

    <script>
        document.getElementById("spliceRemoveDemo").innerHTML = fruits;

        function spliceRemove() {
            fruits.splice(0, 1);
            document.getElementById("spliceRemoveDemo").innerHTML = fruits;
        }
    </script>
</div>

<div>
    <h3>concat()</h3>

    <p>The concat() method is used to merge (concatenate) arrays:</p>

    <p id="concatDemo"></p>

    <script>
        var myGirls = ["Cecilie", "Lone"];
        var myBoys = ["Emil", "Tobias", "Linus"];
        var myChildren = myGirls.concat(myBoys);

        document.getElementById("concatDemo").innerHTML = myChildren;
    </script>
</div>

<div>
    <h3>concat()</h3>

    <p>The concat() method is used to merge (concatenate) arrays:</p>

    <p id="concatDemo2"></p>

    <script>
        var arr1 = ["Cecilie", "Lone"];
        var arr2 = ["Emil", "Tobias", "Linus"];
        var arr3 = ["Robin", "Morgan"];

        var myChildren2 = arr1.concat(arr2, arr3);

        document.getElementById("concatDemo2").innerHTML = myChildren2;
    </script>
</div>

<div>
    <h3>concat()</h3>

    <p>The concat() method can also merge string values to arrays:</p>

    <p id="addChild"></p>

    <script>
        var myChildren = arr1.concat("Peter");

        document.getElementById("addChild").innerHTML = myChildren;
    </script>
</div>

<div>
    <h3>slice()</h3>

    <p>This example slices out a part of an array starting from array
    element 1 ("orange").</p>

    <p id="sliceDemo"></p>

    <script>
        var fruits = ["Banana", "Orange", "Lemon", "Apple", "Mango"];

        var citrus = fruits.slice(1);

        document.getElementById("sliceDemo").innerHTML =
            fruits + "<br><br>" + citrus;
    </script>
</div>

</body>
</html>