<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Arrays Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>What are arrays?</h3>

    <p id="arrayDemo1"></p>

    <p>Creating an array with "new Array":</p>
    <p id="arrayDemo2"></p>

    <p>JavaScript array elements are accessed using numeric
    indexes (starting from 0).</p>
    <p id="accessArray"></p>

    <p>Changing an element in an Array</p>
    <p id="changeArray"></p>

    <script>
        var cars = [
            "Saab",
            "Volvo",
            "BMW"];
        var cars2 = new Array("Saab", "Volvo", "BMW");
        cars2[0] = "Opel";

        document.getElementById("arrayDemo1").innerHTML = cars;
        document.getElementById("arrayDemo2").innerHTML = cars2;

        document.getElementById("accessArray").innerHTML =
            cars[0] + "<br>" + cars2[2];

        document.getElementById("changeArray").innerHTML =
            cars[0] + " vs. " + cars2[0];
    </script>
</div>

<div>
    <h3>JavaScript Arrays are Objects</h3>

    <p>Arrays use number to access its elements.</p>
    <p id = "personArray"></p>

    <p>JavaScript also used names to access object properties.</p>
    <p id="namedPerson"></p>

    <script>
        var person = ["John", "Doe", 46];
        var persona =
            {
                firstName: "Jane",
                lastName: "Doey",
                age: 46
            };

        document.getElementById("personArray").innerHTML =
            person[0];
        document.getElementById("namedPerson").innerHTML =
            persona["firstName"];
    </script>
</div>

<div>
    <h3>Array Properties and Methods</h3>

    <h4>The Length Property</h4>

    <p>Length property returns the length of an array.</p>
    <p id="lengthDemo"></p>

    <p>Accessing the data using numeric indexes
    starting with 0. Access the first</p>
    <p id="firstFruit"></p>

    <p>Accessing the data using numeric indexes. To access
    the last, we will access the length, then subtract 1.</p>
    <p id="lastFruit"></p>

    <script>
        var fruits = [
            "Banana",
            "Orange",
            "Apple",
            "Mango"
            ];
        var firstFruit = fruits[0];
        var lastFruit = fruits[fruits.length - 1];

        document.getElementById("lengthDemo").innerHTML =
            fruits.length;
        document.getElementById("firstFruit").innerHTML =
            firstFruit;
        document.getElementById("lastFruit").innerHTML =
            lastFruit;
    </script>
</div>

<div>
    <h3>Looping through an Array</h3>

    <p>The best way to loop trough an array is using a
    standard for loop:</p>

    <p id="loopDemo"></p>

    <script>
        var fruits, text, fLen, i;

        fruits = ["Banana", "Orange", "Apple", "Mango"];
        fLen = fruits.length;

        text = "<ul>";
        for (i = 0; i < fLen; i++) {
            text += "<li>" + fruits[i] + "</li>";
            }
        text += "</ul>";

        document.getElementById("loopDemo").innerHTML =
            text;
    </script>
</div>

<div>
    <h3>J.S. Array forEach function</h3>

    <p>Array.forEach() calls a function for each array
    element.</p>

    <p>Array.forEach() is not supported in Internet
    Explorer 8 or earlier versions.</p>

    <p id="eachDemo"></p>

    <script>
        var eachFruit, eachText;

        eachFruit = ["Banana1", "Orange1", "Apple1", "Mango1"];

        eachText = "<ul>";
        eachFruit.forEach(fruitLister);
        eachText += "</ul>";

        document.getElementById("eachDemo").innerHTML = eachText;

        function fruitLister(value) {
            eachText += "<li>" + value + "</li>";}
    </script>
</div>

</body>
</html>