<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Array Sort Tutorials</h1>

<p>from w3schools.com</p>

<h2>JavaScript Array Sort</h2>

<div>
    <h3>sort()</h3>

    <p>The sort() method sorts an array alphabetically.</p>

    <button onclick="alphaSort()">Alphabetize this!</button>

    <p id="alphaDemo"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("alphaDemo").innerHTML = fruits;

        function alphaSort() {
            fruits.sort();
            document.getElementById("alphaDemo").innerHTML = fruits;
        }
    </script>
</div>

<div>
    <h3>Sort Reverse</h3>

    <p>The reverse() method reverses the elements in an array.</p>

    <p>By combining sort() and reverse() you can sort an array in
    descending alphabetical order.</p>

    <button onclick="revAlphaSort()">Descending order!</button>

    <p id="revAlphaDemo"></p>

    <script>
        document.getElementById("revAlphaDemo").innerHTML = fruits;

        function revAlphaSort() {
            fruits.sort();
            fruits.reverse();
            document.getElementById("revAlphaDemo").innerHTML = fruits;
        }
    </script>
</div>

<div>
    <h3>Numerical Sorting - Compare Function</h3>

    <p>Click the button to sort the array in ascending order.</p>

    <button onclick="ascendSort()">Ascend!</button>
    <p id="ascendDemo"></p>

    <script>
        var points = [40, 100, 1, 5, 25, 10];

        document.getElementById("ascendDemo").innerHTML = points;

        function ascendSort() {
            points.sort(function(a, b) {
                return a - b
            });

            document.getElementById("ascendDemo").innerHTML = points;
        }
    </script>
</div>

</body>
</html>