<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Array Iteration Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>JavaScript Array.forEach()</h3>

    <p>Calls a function once for each array element.</p>

    <p id="eachDemo"></p>

    <p>Below we have an alternate way to write the function.</p>

    <p id="eachDemo2"></p>

    <script>
        var txt = "";
        var altTxt = "";

        var numbers = [45, 4, 9, 16, 25];
        var altNumbers = [450, 40, 90, 160, 250];

        numbers.forEach(oneOnLine);
        altNumbers.forEach(oneOnLine2);

        document.getElementById("eachDemo").innerHTML = txt;
        document.getElementById("eachDemo2").innerHTML = altTxt;

        function oneOnLine(value, index, array) {
            txt = txt + value + "<br>";
        }

        function oneOnLine2(value) {
            altTxt = altTxt + value + "<br>";
        }
    </script>
</div>

<div>
    <h3>JavaScript Array.map()</h3>

    <p>Creates a new array by performing a function on each array
    element.</p>

    <p id="mapDemo"></p>

    <p>Below is an alternate method to employ .map().</p>
    <p id="mapDemo2"></p>

    <script>
        var numbers2 = numbers.map(doubleFunc);
        var altNumbers2 = altNumbers.map(doubleFunc2);

        document.getElementById("mapDemo").innerHTML = numbers2;
        document.getElementById("mapDemo2").innerHTML = altNumbers2;

        function doubleFunc(value, index, array) {
            return value * 2;
        }

        function doubleFunc2(value) {
            return value * 2;
        }

    </script>
</div>

<div>
    <h3>JavaScript Array.filter()</h3>

    <p>Creates a new array with all array elements that passes
    a test.</p>

    <p id="filterDemo"></p>

    <p>alternate method to write the function below (except)
    with numbers under 18.</p>

    <p id="filterDemo2"></p>

    <script>
        var over18 = numbers.filter(over18Func);
        var under18 = numbers.filter(under18Func);

        document.getElementById("filterDemo").innerHTML = over18;
        document.getElementById("filterDemo2").innerHTML = under18;

        function over18Func(value, index, array) {
            return value > 18;
        }

        function under18Func(value) {
            return value < 18;
        }

    </script>
</div>

<div>
    <h3>Array.reduce()</h3>

    <p>The example finds the sum of all numbers
    in the above arrays:</p>

    <p id="reduceDemo1"></p>

    <p>--an alternative way to write the method function.</p>
    <p id="reduceDemo2"></p>

    <p>This example has added an initial value to our reduce
        function.</p>
    <p id="reduceDemo3"></p>

    <script>
        var sum = numbers.reduce(addNumbersUp);
        var altSum = altNumbers.reduce(addNumbersUp2);

        var sum100 = numbers.reduce(reduceFunc100, 100);
        var altSum100 = altNumbers.reduce(altReduceFunc100, 100);

        document.getElementById("reduceDemo1").innerHTML =
            "The sum is " + sum;
        document.getElementById("reduceDemo2").innerHTML =
            "Now this is going to sum up to " + altSum;
        document.getElementById("reduceDemo3").innerHTML =
            "I've added 100 to get: " + "<br>" +
            sum100 + "<br>" + altSum100;

        function addNumbersUp(total, value, index, array) {
            return total + value;
        }

        function addNumbersUp2(total, value) {
            return total + value;
        }

        function reduceFunc100(total, value) {
            return total + value;
        }

        function altReduceFunc100(total, value) {
            return total + value;
        }
    </script>
</div>

</body>
</html>