<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript ArraysMethods Tutorials</h1>

<p>from w3schools.com</p>

<h2>JavaScript Array Methods</h2>

<div>
    <h3>toString()</h3>

    <p>The toString() method returns an array
    as a comma separated string:</p>
    <p id="toStringDemo"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("toStringDemo").innerHTML =
            fruits.toString();
    </script>
</div>

<div>
    <h3>join()</h3>

    <p>The join() method joins array elements into a string.</p>
    <p>In this example, we have used " * " as a separator between
    elements. join() allows you to chose your separator.</p>

    <p id="toJoinDemo"></p>

    <script>
        document.getElementById("toJoinDemo").innerHTML =
            fruits.join(" - * - ");
    </script>
</div>

<div>
    <h3>pop()</h3>

    <p>The pop() method removes the last element from an array.</p>
    <p id="popDemo1"></p>
    <p id="popDemo2"></p>

    <p>The return value of the pop() method is the removed item.</p>
    <p id="popDemo3"></p>

    <script>
        document.getElementById("popDemo1").innerHTML = fruits;
        document.getElementById("popDemo2").innerHTML = fruits.pop();
        document.getElementById("popDemo3").innerHTML = fruits;
    </script>
</div>

<div>
    <h3>push()</h3>

    <p>The push() method appends a new element to an array.</p>

    <button onclick="appendFunc()">Append that Array!</button>

    <p id="pushDemo"></p>

    <script>
        document.getElementById("pushDemo").innerHTML = fruits;

        function appendFunc() {
            fruits.push("Kiwi");
            document.getElementById("pushDemo").innerHTML = fruits;
        }
    </script>
</div>

<div>
    <h3>push()</h3>

    <p>The push() method returns the new array length.</p>

    <button onclick="pushFunc()">Try This Push!</button>

    <p id="pushDemo1"></p>
    <p id="pushDemo2"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("pushDemo1").innerHTML = fruits;

        function pushFunc() {
            document.getElementById("pushDemo2").innerHTML =
                fruits.push("Kiwi");
            document.getElementById("pushDemo1").innerHTML =
                fruits;
        }
    </script>
</div>

<div>
    <h3>shift()</h3>

    <p>The shift() method removes the first element of an array
    (and "shifts" all other elements to the left):</p>

    <p id="shiftDemo1"></p>
    <p id="shiftDemo2"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];
        document.getElementById("shiftDemo1").innerHTML = fruits;
        fruits.shift();
        document.getElementById("shiftDemo2").innerHTML = fruits;
    </script>
</div>

<div>
    <h3>shift()</h3>

    <p>The shift() method returns the element that was shifted out.</p>

    <p id="shift01"></p>
    <p id="shift02"></p>
    <p id="shift03"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];
        document.getElementById("shift01").innerHTML = fruits;
        document.getElementById("shift02").innerHTML = fruits.shift();
        document.getElementById("shift03").innerHTML = fruits;
    </script>
</div>

<div>
    <h3>unshift()</h3>

    <p>The unshift() method adds new elements to the beginning of an
        array.</p>

    <button onclick = "unshiftFunc()">Try it!</button>

    <p id="unshiftDemo"></p>

    <script>
        document.getElementById("unshiftDemo").innerHTML = fruits;

        function unshiftFunc() {
            fruits.unshift("Lemon");
            document.getElementById("unshiftDemo").innerHTML = fruits;
        }
    </script>
</div>

<div>
    <h3>unshift()</h3>

    <p>The unshift() method returns the length of the new array:</p>

    <p id="unshift01"></p>
    <p id="unshift02"></p>
    <p id="unshift03"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];
        document.getElementById("unshift01").innerHTML = fruits;
        document.getElementById("unshift02").innerHTML = fruits.unshift("Lemon");
        document.getElementById("unshift03").innerHTML = fruits;
    </script>

    <p><b>Note:</b>
        The unshift() method does not work properly in Internet Explorer
        8 and earlier, the values will be inserted, but the return value
        will be <em>undefined</em></p>
</div>

</body>
</html>