<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Array Iteration Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>JavaScript Array.forEach()</h3>

    <p>Calls a function once for each array element.</p>

    <p id="eachDemo"></p>

    <p>Below we have an alternate way to write the function.</p>

    <p id="eachDemo2"></p>

    <script>
        var txt = "";
        var altTxt = "";

        var numbers = [45, 4, 9, 16, 25];
        var altNumbers = [450, 40, 90, 160, 250];

        numbers.forEach(oneOnLine);
        altNumbers.forEach(oneOnLine2);

        document.getElementById("eachDemo").innerHTML = txt;
        document.getElementById("eachDemo2").innerHTML = altTxt;

        function oneOnLine(value, index, array) {
            txt = txt + value + "<br>";
        }

        function oneOnLine2(value) {
            altTxt = altTxt + value + "<br>";
        }
    </script>
</div>

<div>
    <h3>JavaScript Array.map()</h3>

    <p>Creates a new array by performing a function on each array
    element.</p>

    <p id="mapDemo"></p>

    <script>
        var numbers2 = numbers.map(doubleFunc);

        document.getElementById("mapDemo").innerHTML = numbers2;

        function doubleFunc(value, index, array) {
            return value * 2;
        }
    </script>
</div>


</body>
</html>