<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript ArraysMethods Tutorials</h1>

<p>from w3schools.com</p>

<h2>JavaScript Array Methods</h2>

<div>
    <h3>toString()</h3>

    <p>The toString() method returns an array
    as a comma separated string:</p>
    <p id="toStringDemo"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("toStringDemo").innerHTML =
            fruits.toString();
    </script>
</div>

<div>
    <h3>join()</h3>

    <p>The join() method joins array elements into a string.</p>
    <p>In this example, we have used " * " as a separator between
    elements. join() allows you to chose your separator.</p>

    <p id="toJoinDemo"></p>

    <script>
        document.getElementById("toJoinDemo").innerHTML =
            fruits.join(" - * - ");
    </script>

</div>

</body>
</html>