<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Arrays Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>What are arrays?</h3>

    <p id="arrayDemo1"></p>

    <p>Creating an array with "new Array":</p>
    <p id="arrayDemo2"></p>

    

    <script>
        var cars = [
            "Saab",
            "Volvo",
            "BMW"
        ];

        var cars2 = new Array("Saab", "Volvo", "BMW");

        document.getElementById("arrayDemo1").innerHTML = cars;
        document.getElementById("arrayDemo2").innerHTML = cars2;
    </script>
</div>


</body>
</html>