<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Arrays Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>What are arrays?</h3>

    <p id="arrayDemo1"></p>

    <p>Creating an array with "new Array":</p>
    <p id="arrayDemo2"></p>

    <p>JavaScript array elements are accessed using numeric
    indexes (starting from 0).</p>
    <p id="accessArray"></p>

    <p>Changing an element in an Array</p>
    <p id="changeArray"></p>

    <script>
        var cars = [
            "Saab",
            "Volvo",
            "BMW"];
        var cars2 = new Array("Saab", "Volvo", "BMW");
        cars2[0] = "Opel";

        document.getElementById("arrayDemo1").innerHTML = cars;
        document.getElementById("arrayDemo2").innerHTML = cars2;

        document.getElementById("accessArray").innerHTML =
            cars[0] + "<br>" + cars2[2];

        document.getElementById("changeArray").innerHTML =
            cars[0] + " vs. " + cars2[0];
    </script>
</div>

<div>
    <h3>JavaScript Arrays are Objects</h3>

    <p>Arrays use number to access its elements.</p>
    <p id = "personArray"></p>

    <p>JavaScript also used names to access object properties.</p>
    <p id="namedPerson"></p>

    <script>
        var person = ["John", "Doe", 46];
        var persona =
            {
                firstName: "Jane",
                lastName: "Doey",
                age: 46
            };

        document.getElementById("personArray").innerHTML =
            person[0];
        document.getElementById("namedPerson").innerHTML =
            persona["firstName"];
    </script>
</div>

<div>
    <h3>Array Properties and Methods</h3>
    
</div>

</body>
</html>