<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - Arrow Functions</h1>
<p>from w3schools.com</p>

<div>
    <h3>JavaScript Function</h3>

    <p>This example shows the syntax of a function,
    without the use of arrow function syntax.</p>

    <p id="funcDemo01"></p>

    <script>
        var hello;

        hello = function() {
            return "Hello World!";
        }

        document.getElementById("funcDemo01").innerHTML =
            hello();
    </script>
</div>

<div>
    <h3>JavaScript Arrow Function</h3>

    <p>This example show the syntax of an Arrow Function,
    and how to use it.</p>

    <p id="arrowDemo01"></p>

    <script>
        var hello;

        hello = () => {
            return "Hello World!!";
        }

        document.getElementById("arrowDemo01").innerHTML =
            hello();
    </script>
</div>

<div>
    <h3>JS Arrow Function</h3>

    <p>This examples shows an Arrow Function without
    the brackets or the return keyword.</p>

    <p id="arrowDemo02"></p>

    <p>*Note: this only works on function with one statement</p>
    <script>
        var hello;
        hello = () => "HelloWorld!!!";

        document.getElementById("arrowDemo02").innerHTML =
            hello();
    </script>
</div>

<div>
    <h3>JavaScript Passing Parameters</h3>

    <p>This example shows an Arrow Function with a
    parameter.</p>

    <p id="arrowDemo03"></p>

    <script>
        var hello;

        hello = (val) => "Hello" + val;

        document.getElementById("arrowDemo03").innerHTML =
            hello("Universe!");
    </script>
</div>

<div>
    <h3>JavaScript without parenthesis</h3>

    <p>This example shows that if you have only one
    parameter in an Arrow Function, you can skip the
    parenthesis.</p>

    <p id="arrowDemo04"></p>

    <script>
        var hello;

        hello = val => "Hello " + val;

        document.getElementById("arrowDemo04").innerHTML =
            hello("Universe!!!");
    </script>
</div>

</body>
</html>