<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>

<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Assignment Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>The = Operator</h3>
    <p id="opDemo1"></p>

    <script>
        var ten = 10;
        document.getElementById("opDemo1").innerHTML = ten;
    </script>
</div>

<div>
    <h3>The += Operator</h3>
    <p id="opDemo2"></p>

    <script>
        var ten = 10;
        ten += 5;
        document.getElementById("opDemo2").innerHTML = ten;
    </script>
</div>

<div>
    <h3>The -= Operator</h3>
    <p id="opDemo3"></p>

    <script>
        var x = 10;
        x -= 5;
        document.getElementById("opDemo3").innerHTML = x;
    </script>
</div>



</body>
</html>