<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - Best Practices</h1>
<p>from w3schools.com</p>

<h3>Avoid Global Variables</h3>

<p>Minimize the use of global variables. This
includes all data types, objects, and functions.
Global variables and functions can be overwritten
by other scripts.</p>

<h3>Always Declare Local Variables</h3>

<p>All variables used in a function should be
declared as local variables. Local variables must
be declared with the var keyword or the let keyword,
otherwise they will become global variables.</p>

<h4>Declarations on Top</h4>

<p>It is good coding practice to pull all
declarations at the top of each script or function.
This provides cleaner code, a single place to look
for local variables, makes it easier to avoid unwanted
or implied global variables, reduces the possibility
of unwanted re-declarations.</p>

<h3>Initialize Variables</h3>

<p>It is a good coding practice to initialize
variables when you declare them.</p>

<h3>Never Declare Number, String, or Boolean
Objects</h3>

<p>Always treat numbers, strings, or booleans as
primitive values. Not as objects. Declaring these
types as objects, slows down execution speed, and
produces nasty side effects.</p>

<p>Example:</p>

<p>Never create strings as objects.</p>
<p>Strings and objects cannot safely be compared.</p>

<p id="bestPracDemo01"></p>

<p id="bestPracDemo02"></p>

<script>
    var x = "John";
    var y = new String("John");
    var z = new String("John");

    document.getElementById("bestPracDemo01").innerHTML =
        x === y;

    document.getElementById("bestPracDemo02").innerHTML =
        y == z;
</script>

<div>
    <h3>Don't Use new Object()</h3>

    <p>Use:</p>
    <p>   {} instead of new Object(),</p>
    <p>   "" instead of new String(),</p>
    <p>   0 instead of new Number(),</p>
    <p>   false instead of new Boolean(),</p>
    <p>   [] instead of new Array(),</p>
    <p>   /()/ instead of new RegExp(),</p>
    <p>   and function (){} instead of new Function()</p>

    <p><strong>example:</strong></p>
    <p id="bestPracDemo03"></p>

    <script>
        var x1 = {};
        var x2 = "";
        var x3 = 0;
        var x4 = false;
        var x5 = [];
        var x6 = /()/;
        var x7 = function(){};

        document.getElementById("bestPracDemo03").innerHTML =
            "x1: " + typeof x1 + "<br>" +
            "x2: " + typeof x2 + "<br>" +
            "x3: " + typeof x3 + "<br>" +
            "x4: " + typeof x4 + "<br>" +
            "x5: " + typeof x5 + "<br>" +
            "x6: " + typeof x6 + "<br>" +
            "x7: " + typeof x7 + "<br>";
    </script>
</div>

<div>
    <h3>Beware Automatic Type Conversions</h3>
    <p>Numbers can accidentally be converted to
    strings of NaN (Not a Number). Variables can
    also contain different data types, and a variable
    can change its data type.</p>

    <p id="bestPracDemo05"></p>

    <script>
        var x = "Hello";
        var x = 5;

        document.getElementById("bestPracDemo05").innerHTML =
            typeof x;
    </script>
</div>

<div>
    <p>... math ...</p>

    <p>Remove the comment markers in the script
    to test each case:</p>

    <p id="bestPracDemo06"></p>

    <p>Subtracting a string from a string will
    produce a NaN (Not a Number).</p>

    <p id="bestPracDemo07"></p>
    <script>
        var x = 5;
            //x = 5 + 7;
            //x = 5 + "7";
            //x = "5" + 7;
            //x = 5 - 7;
            //x = 5 - "7";
            //x = "5" - 7;
            //x = 5 - "x";

        document.getElementById("bestPracDemo06").innerHTML =
            x.valueOf() + " " + typeof x;
        document.getElementById("bestPracDemo07").innerHTML =
            "hello" - "Dolly";
    </script>

</div>

<div>

    <h3>Use the === Comparison</h3>

    <p>The == comparison operator always converts
    (to matching types) before comparison.</p>
    <p>The === operator forces comparisons of
    values and types.</p>

    <p>Remove the comments (at the beginning
    each line) to test each case:</p>

    <p id="bestPracDemo08"></p>

    <script>
        var x;

            //x = (0 == "");   // true
            //x = (1 == "1");  // true
            //x = (1 == true);   // true
            //x = (0 === "");  // false
            //x = (1 === "1");   // false
            //x = (1 === true);  // false

        document.getElementById("bestPracDemo08").innerHTML =
            x;
    </script>
</div>

</body>
</html>