<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Bitwise</h2>

<div>
    <h3>JavaScript Bitwise AND</h3>
    <p id="demo1">My First Paragraph</p>

    <h3>JavaScript Bitwise OR</h3>
    <p id="demo2"></p>

    <h3>JavaScript Bitwise XOR</h3>
    <p id="demo3"></p>

    <h3>JavaScript Bitwise NOT</h3>
    <p id="demo4"></p>

    <h3>JavaScript Bitwise Left</h3>
    <p id="demo5"></p>

    <h3>JavaScript Bitwise Right (Sign Preservation)</h3>
    <p id="demo6"></p>

    <h3>JavaScript Bitwise Right (Zero Fill)</h3>
    <p id="demo7"></p>

    <h3>JavaScript Converting Decimal to Binary</h3>

    <script>
        document.getElementById("demo1").innerHTML = 5 & 1;
        document.getElementById("demo2").innerHTML = 5 | 1;
        document.getElementById("demo3").innerHTML = 5 ^ 1;
        document.getElementById("demo4").innerHTML = ~ 5;
        document.getElementById("demo5").innerHTML = 5 << 1;
        document.getElementById("demo6").innerHTML = -5 >> 1;
        document.getElementById("demo7").innerHTML = 5 >>> 1;
    </script>
</div>

</body>
</html>