<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Booleans</h2>

<div>
    <h3>Display the value of Boolean(10>9):</h3>
    <button onclick="booFunc1()">Try it, Boo</button>
    <p id="booDem1"></p>

    <script>
        function booFunc1() {
            document.getElementById("booDem1").innerHTML =
                Boolean(10 > 9);
        }
    </script>
</div>

<div>
    <h3>Or even easier... Display the value of 10 > 9:</h3>
    <button onclick="booFunc2()">Try it, Boo</button>
    <p id="booDem2"></p>

    <script>
        function booFunc2() {
            document.getElementById("booDem2").innerHTML =
                10 > 9;
        }
    </script>
</div>

</body>
</html>