<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>

<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Comments Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h2 id="myH"></h2>
    <p id="myP"></p>

    <script>
        // change heading:
        document.getElementById("myH").innerHTML = "JavaScript Comments";

        //change paragraph:
        document.getElementById("myP").innerHTML = "I wrote something here...";
    </script>
</div>

<div>
    <h2>JavaScript Comments</h2>
    <p id="mathDemo"></p>

    <script>
        var x = 5; // Declare x, give it the value of 5
        var y  = x + 2; // Declare y, give it valut of x + 2

        // Write y to mathDemo:
        document.getElementById("mathDemo").innerHTML = y;
    </script>
</div>


</body>
</html>