<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Comparisons and Logical Operators</h2>

<div>
    <h3>JavaScript Comparison</h3>

    <h2><strong>= =</strong></h2>
    <p>Assign 5 to x and display the value of the
        comparison (x==8):</p>
    <p id="compDemo1"></p>

    <p>---</p>
    <p>...display the value of the comparison
        (x == 5):</p>
    <p id="compDemo2"></p>

    <p>---</p>
    <p>...display the value of the comparison
        (x == "5");</p>
    <p id="compDemo3"></p>

    <h2><strong>= = =</strong></h2>

    <p>Assign 5 to x, and display the value of the
        comparison (x === 5):</p>
    <p id="compDemo4"></p>

    <p>---</p>
    <p>...display the value of the comparison
        (x === "5"):</p>
    <p id="compDemo5"></p>

    <h2><strong>! =</strong></h2>

    <p>Assign 5 to x, and display the value of the
        comparison (x != 8):</p>
    <p id="compDemo6"></p>

    <h2><strong>! = = </strong></h2>
    <p>Assign 5 to x, and display the value of the
        comparison (x !== 5):</p>
    <p id="compDemo7"></p>

    <p>... display the value of the comparison
        (x !=== "5");</p>
    <p id="compDemo8"></p>

    <p>... display the value of the comparison
        (x !== 8);</p>
    <p id="compDemo9"></p>

    <script>
        var x = 5;

        document.getElementById("compDemo1").innerHTML =
            (x == 8);

        document.getElementById("compDemo2").innerHTML =
            (x == 5);

        document.getElementById("compDemo3").innerHTML =
            (x == "5");

        document.getElementById("compDemo4").innerHTML =
            (x === 5);

        document.getElementById("compDemo5").innerHTML =
            (x === "5");

        document.getElementById("compDemo6").innerHTML =
            (x != 8);

        document.getElementById("compDemo7").innerHTML =
            (x !== 5);

        document.getElementById("compDemo8").innerHTML =
            (x !== "5");

        document.getElementById("compDemo9").innerHTML =
            (x !== 8);
    </script>
</div>

<div>
    <h2>Great than, less than...</h2>

    <p>Assign 5 to x, and display the value of the
        comparison (x > 8).</p>
    <p id="compDemo10"></p>

    <p>... and display the value of the comparison
        (x < 8).</p>
    <p id="compDemo11"></p>

    <p>... and display the value of the comparison
        (x >= 8).</p>
    <p id="compDemo12"></p>

    <p>... and display the value of the comparison
        (x <= 8).</p>
    <p id="compDemo13"></p>

    <script>
        document.getElementById("compDemo10").innerHTML =
            (x > 8);

        document.getElementById("compDemo11").innerHTML =
            (x < 8);

        document.getElementById("compDemo12").innerHTML =
            (x >= 8);

        document.getElementById("compDemo13").innerHTML =
            (x <= 8);
    </script>
</div>

<div>
    <h3>Logical Operators</h3>

    <p>The AND operator (&&) returns true if both
        expressions are true, otherwise it returns
        false.</p>
    <p id="logOpsDemo1"></p>

    <script>
        var ax = 6;
        var ay = 3;

        document.getElementById("logOpsDemo1").innerHTML =
            (ax < 10 && ay > 1) + "<br>" +
            (ax < 10 && ay < 1);
    </script>
</div>

<div>
    <h2>JavaScript Comparison</h2>

    <p>The OR operator ( || ) returns true if one or
        both expressions are true, otherwise it
        returns false.</p>

    <p id="logOpsDemo2"></p>

    <script>
        document.getElementById("logOpsDemo2").innerHTML =
            (ax == 5 || ay == 5) + "<br>" +
            (ax == 6 || ay == 0) + "<br>" +
            (ax == 0 || ay == 3) + "<br>" +
            (ax == 6 || ay == 3);
    </script>
</div>

<div>
    <h3>The NOT Operator (!)</h3>

    <p>The NOT operator (!) returns true for false statements
        and false for true statements.</p>

    <p id="logOpsDemo3"></p>

    <script>
        document.getElementById("logOpsDemo3").innerHTML =
            !(ax === ay) + "<br>" +
            !(ax > ay);
    </script>
</div>

<div>
    <h3>Conditional (Ternary) Operator</h3>

    <p>Input you age and click the button:</p>

    <input id="age" value="18" />

    <button onclick="voteFunc()">Try it</button>
    <p id="voteDemo"></p>

    <script>
        function voteFunc() {
            var age, voteable;

            age = document.getElementById("age").value;
            voteable = (age < 18) ? "Too Young":"Old Enough";

            document.getElementById("voteDemo").innerHTML =
                voteable +
                " to vote.";
        }
    </script>
</div>

<div>
    <h2>Comparing Different Types</h2>

    <h3>2 < 12:</h3>
    <p id="compDif1"></p>

    <h3>2 < "12":</h3>
    <p id="compDif2"></p>

    <h3>2 < "John":</h3>
    <p id="compDif3"></p>

    <h3>2 > "John":</h3>
    <p id="compDif4"></p>

    <h3>2 == "John":</h3>
    <p id="compDif5"></p>

    <h3>"2" < "12":</h3>
    <p id="compDif6"></p>

    <h3>"2" > "12":</h3>
    <p id="compDif7"></p>
    <p>*This is true because it is organized "alphabetically"*</p>

    <script>
        document.getElementById("compDif1").innerHTML =
            2 < 12;
        document.getElementById("compDif2").innerHTML =
            2 < "12";
        document.getElementById("compDif3").innerHTML =
            2 < "John";
        document.getElementById("compDif4").innerHTML =
            2 > "John";
        document.getElementById("compDif5").innerHTML =
            2 == "John";
        document.getElementById("compDif6").innerHTML =
            "2" < "12";
        document.getElementById("compDif7").innerHTML =
            "2" > "12";
    </script>
</div>

</body>
</html>