<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Comparisons and Logical Operators</h2>

<div>
    <h3>JavaScript Comparison</h3>

    <h2><strong>= =</strong></h2>
    <p>Assign 5 to x and display the value of the
        comparison (x==8):</p>
    <p id="compDemo1"></p>

    <p>---</p>
    <p>...display the value of the comparison
        (x == 5):</p>
    <p id="compDemo2"></p>

    <p>---</p>
    <p>...display the value of the comparison
        (x == "5");</p>
    <p id="compDemo3"></p>

    <h2><strong>= = =</strong></h2>

    <p>Assign 5 to x, and display the value of the
        comparison (x === 5):</p>
    <p id="compDemo4"></p>

    <p>---</p>
    <p>...display the value of the comparison
        (x === "5"):</p>
    <p id="compDemo5"></p>

    <h2><strong>! =</strong></h2>

    <p>Assign 5 to x, and display the value of the
        comparison (x != 8):</p>
    <p id="compDemo6"></p>

    <h2><strong>! = = </strong></h2>
    <p>Assign 5 to x, and display the value of the
        comparison (x !== 5):</p>
    <p id="compDemo7"></p>

    <p>... display the value of the comparison
        (x !=== "5");</p>
    <p id="compDemo8"></p>

    <p>... display the value of the comparison
        (x !== 8);</p>
    <p id="compDemo9"></p>

    <script>
        var x = 5;

        document.getElementById("compDemo1").innerHTML =
            (x == 8);

        document.getElementById("compDemo2").innerHTML =
            (x == 5);

        document.getElementById("compDemo3").innerHTML =
            (x == "5");

        document.getElementById("compDemo4").innerHTML =
            (x === 5);

        document.getElementById("compDemo5").innerHTML =
            (x === "5");

        document.getElementById("compDemo6").innerHTML =
            (x != 8);

        document.getElementById("compDemo7").innerHTML =
            (x !== 5);

        document.getElementById("compDemo8").innerHTML =
            (x !== "5");

        document.getElementById("compDemo9").innerHTML =
            (x !== 8);
    </script>
</div>

<div>
    <h2>Great than, less than...</h2>

    <p>Assign 5 to x, and display the value of the
        comparison (x > 8).</p>
    <p id="compDemo10"></p>

    <p>... and display the value of the comparison
        (x < 8).</p>
    <p id="compDemo11"></p>

    <p>... and display the value of the comparison
        (x >= 8).</p>
    <p id="compDemo12"></p>

    <p>... and display the value of the comparison
        (x <= 8).</p>
    <p id="compDemo13"></p>

    <script>
        document.getElementById("compDemo10").innerHTML =
            (x > 8);

        document.getElementById("compDemo11").innerHTML =
            (x < 8);

        document.getElementById("compDemo12").innerHTML =
            (x >= 8);

        document.getElementById("compDemo13").innerHTML =
            (x <= 8);
    </script>
</div>

</body>
</html>