<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Conditions</h2>

<div>
    <h3>Conditional - if</h3>

    <p>Display "Good Day!" if the hour is less than 18:00:</p>
    <p id="gdDemo">Good Evening!</p>

    <script>
        if (new Date().getHours() < 18) {
            document.getElementById("gdDemo").innerHTML =
                "Good Day!";
        }
    </script>
</div>

<div>
    <h3>Conditional - if / else</h3>

    <p>Click the button to display a time-based greeting:</p>
    <button onclick="goodDayFunc()">Try It</button>
    <p id="goodDayDemo"></p>

    <script>
        function goodDayFunc() {
            var hour = new Date().getHours();
            var greeting;

            if (hour < 18) {
                greeting = "Good Day";
            } else {
                greeting = "Good Evening";
            }
            document.getElementById("goodDayDemo").innerHTML =
                greeting;
        }
    </script>
</div>

<div>
    <h3>Conditional - if, else if, else</h3>

    <p>Click the button to get a time-based greeting:</p>

    <button onclick="greetingFunc()">Try it</button>

    <p id="greetingDemo"></p>

    <script>
        function greetingFunc() {
            var greeting;
            var time = new Date().getHours();

            if (time < 10) {
                greeting = "Good morning";
            } else if (time < 20) {
                greeting = "Good day";
            } else {
                greeting = "Good evening";
            }
                document.getElementById("greetingDemo").innerHTML =
                    greeting;
        }
</script>
</div>

</body>
</html>