<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - Let</h1>
<p>from w3schools.com</p>

<div>
    <h3>JavaScript const</h3>

    <p>You cannot change a primitive value.</p>

    <p id="constDemo01"></p>

    <script>
        try {
            const PI = 3.14159265;
            PI = 3.14;
        }

        catch (err) {
            document.getElementById("constDemo01").innerHTML = err;
        }
    </script>
</div>

<div>
    <h3>Declaring variable using const in block scope</h3>

    <p id="constDemo02"></p>

    <script>
        var x = 10;

        {const x = 2;}

        document.getElementById("constDemo02").innerHTML = x;
    </script>
</div>

<p>This defines NOT a constant value, but a constant reference
to a value.</p>

<div>
    <h3>Primitive values:</h3>

    <p>If we assign a primitive value to a constant, we
    cannot change the primitive value:</p>

    <p id="constDemo03"></p>

    <script>
        try {
            const PI = 3.1415926;
            PI = 3.14;
        }

        catch (err) {
            document.getElementById("constDemo03").innerHTML = err;
        }
    </script>
</div>

<div>
    <h3>Constant Objects can Change</h3>

    <p>You can change the properties of a constant Object:</p>
    <p>Declaring a constant object does NOT make the object's
    properties unchangeable:</p>

    <p id="constDemo04"></p>

    <p>Note that you cannot reassign a constant object:</p>

    <p id="constDemo05"></p>

    <script>
        const car = {
            type:"Fiat",
            model: "500",
            color: "white"};

        car.color = "red";

        car.owner = "Johnson";

        document.getElementById("constDemo04").innerHTML =
            "Car Owner is " + car.owner;

        try {
            car = {type: "Volvo", model: "EX60", color: "red"};
        }
        catch (error) {
            document.getElementById("constDemo05").innerHTML =
                error;
        }
    </script>
</div>

<div>
    <h3>Constant Arrays can Change</h3>

    <p>Declaring a constant array does NOT make the elements
    unchangeable:</p>

    <p id="constDemo06"></p>

    <script>
        const cars = ["Saab", "Volvo", "BMW"];

        cars[0] = "Toyota";
        cars.push("Audi");

        document.getElementById("constDemo06").innerHTML =
            cars;
    </script>
</div>

</body>
</html>