
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>

<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Data Types Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>Java Script Data Types</h3>
    <p>When adding a number and a string, JavaScript will treat eh number as a string.</p>

    <p id="volvoDemo1"></p>
    <p id="volvoDemo2"></p>

    <script>
        var x = 16 + "Volvo";
        var y = "Volvo" + 16;
        document.getElementById("volvoDemo1").innerHTML = x;
        document.getElementById("volvoDemo2").innerHTML = y;
    </script>
</div>

<div>
    <p>JavaScript evaluates expressions from left to right. Different sequences can produce different results:</p>
    <p id="volvoDemo3"></p>
    <p id="volvoDemo4"></p>

    <script>
        var x = 16 + 4 + "Volvo";
        var y = "Volvo" + 16 + 4;
        document.getElementById("volvoDemo3").innerHTML = x;
        document.getElementById("volvoDemo4").innerHTML = y;
    </script>
</div>

</body>
</html>