<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Dates Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>JavaScript new Date()</h3>

    <p>Using new Date(), creates a new date object with the
    current date and time.</p>
    <p id="newDateDemo"></p>

    <script>
        var d = new Date();

        document.getElementById("newDateDemo").innerHTML =
            d;
    </script>
</div>

<div>
    <h3>JavaScript new Date()</h3>

    <p>Using new Date(7 numbers), creates a new date object
    with the specified date and time:</p>

    <p id="newDateDemo2"></p>

    <script>
        var d2 = new Date(2018, 11, 24, 10, 33, 30, 0);

        document.getElementById("newDateDemo2").innerHTML =
            d2;
    </script>
</div>

</body>
</html>