<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<div>
    <h3>JavaScript ISO Dates</h3>

    <p id = "ISODate"></p>

    <p id="onlyYear"></p>

    <script>
        var d1 = new Date("2015-03-25");
        var d2 = new Date("2015");

        document.getElementById("ISODate").innerHTML = d1;
        document.getElementById("onlyYear").innerHTML = d2;
    </script>
</div>

</body>
</html>