<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<div>
    <h3>JavaScript ISO Dates</h3>

    <p id = "ISODate"></p>

    <p id="onlyYear"></p>

    <script>
        var d1 = new Date("2015-03-25");
        var d2 = new Date("2015");

        document.getElementById("ISODate").innerHTML = d1;
        document.getElementById("onlyYear").innerHTML = d2;
    </script>
</div>

<div>
    <h3>ISO Date and Time</h3>

    <p>Separate date and time with a capital T.</p>
    <p>Indicate UTC time with a capital Z.</p>

    <p id="dateTime"></p>

    <p>---</p>
    <p>Modify the time relative to UTC by adding +HH:MM or
    subtraction -HH:MM to the time.</p>

    <p id="modTime>"></p>

    <script>
        var d3 = new Date("2015-03-25T12:00:00Z");

        document.getElementById("dateTime").innerHTML = d3;
        document.getElementById("modTime").innerHTML =
            new Date("2015-03-25T12:00:00-06:00");
    </script>
</div>

<div>
    <h3>JavaScript new Date()</h3>

    <p id="shortDemo"></p>

    <script>
        var d4 = new Date("03/25/2015");

        document.getElementById("shortDemo").innerHTML = d4;
    </script>
</div>

<div>
    <h3>Long Date JavaScript</h3>

    <p id="longDate"></p>
    <p id="longDate6"></p>

    <p>---</p>
    <p>Months can be written long or abbreviated: Jan
    or January.</p>
    <p id="longDate7"></p>
    <p id="longDate8"></p>

    <script>
        var d5 = new Date("Mar 25 2015");
        var d6 = new Date("25 Mar 2015");
        var d7 = new Date("January 25 2015");
        var d8 = new Date("Jan 25 2015");

        document.getElementById("longDate").innerHTML = d5;
        document.getElementById("longDate6").innerHTML = d6;
        document.getElementById("longDate7").innerHTML = d7;
        document.getElementById("longDate8").innerHTML = d8;
    </script>
</div>

</body>
</html>