<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Dates Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>JavaScript new Date()</h3>

    <p>Using new Date(), creates a new date object with the
    current date and time.</p>
    <p id="newDateDemo"></p>

    <script>
        var d = new Date();

        document.getElementById("newDateDemo").innerHTML =
            d;
    </script>
</div>

<div>
    <h3>JavaScript new Date()</h3>

    <p>Using new Date(7 numbers), creates a new date object
    with the specified date and time:</p>
    <p id="newDateDemo2"></p>

    <p>---</p>

    <p>6 numbers specify year, month, day, hour, minute
    and second:</p>
    <p id="newDateDemo3"></p>
    <p>Please remember that months start counting at 0...
    January is 0, December is 11.</p>

    <p>---</p>
    <p>5 numbers specify year, month, day, hour, and minute:</p>
    <p id="newDateDemo4"></p>

    <p>---</p>
    <p>4 Numbers</p>
    <p id="newDateDemo5"></p>

    <p>---</p>
    <p>3 numbers to provide Year, Month, Date:</p>
    <p id="newDateDemo6"></p>

    <p>---</p>
    <p>2 Numbers specify year and month only:</p>
    <p id="newDateDemo7"></p>

    <script>
        var d2 = new Date(2018, 11, 24, 10, 33, 30, 0);
        var d3 = new Date(2018, 11, 24, 10, 33, 30);
        var d4 = new Date(2018, 11, 24, 10, 33);
        var d5 = new Date(2018, 11, 24, 10);
        var d6 = new Date(2018, 11, 24);
        var d7 = new Date(2018, 11);

        document.getElementById("newDateDemo2").innerHTML =
            d2;
        document.getElementById("newDateDemo3").innerHTML =
            d3;
        document.getElementById("newDateDemo4").innerHTML =
            d4;
        document.getElementById("newDateDemo5").innerHTML =
            d5;
        document.getElementById("newDateDemo6").innerHTML =
            d6;
        document.getElementById("newDateDemo7").innerHTML =
            d7;
    </script>
</div>

<div>
    <h3>JavaScript new Date()</h3>

    <p>You cannot omit the month parameter. One parameter
    will be interpreted as new Date(millisecond).</p>

    <p id="dateMilli"></p>

    <script>
        var dmilli = new Date(2018);

        document.getElementById("dateMilli").innerHTML =
            dmilli;
    </script>
</div>

<div>
    <h3>Previous Century</h3>

    <p>Two digit years will be interpreted as 19xx:</p>
    <p id="xxcentDemo"></p>

    <p>One digit years will be interpreted as 190x:</p>
    <p id="xxcentDemoA"></p>

    <script>
        var xxd = new Date(99, 11, 24);
        var xxd2 = new Date(9, 11, 24);

        document.getElementById("xxcentDemo").innerHTML = xxd;
        document.getElementById("xxcentDemoA").innerHTML = xxd2;

    </script>
</div>

<div>
    <h3>JavaScript new Date()</h3>

    <p>A Date object can be create with a specified date and
        time:</p>

    <p id="specificDate"></p>

    <script>
        var specDate = new Date("October 13, 2014 11:13:00");

        document.getElementById("specificDate").innerHTML =
            specDate;
    </script>
</div>

</body>
</html>