<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JS Date Set Methods</h2>

<div>

    <h3>JavaScript setFullYear</h3>

    <p>The setFullYear() method sets the year of a date
    object:</p>

    <p id="setYear"></p>

    <p>---</p>
    <p>The setFullYear() method can optionally set month and day.</p>
    <p>Please note that the month counts from 0. December is
    month 11:</p>

    <p id="setYear2"></p>

    <script>
        var d = new Date();
        var d1 = new Date();

        d.setFullYear(2020);
        d1.setFullYear(2020, 11, 3);

        document.getElementById("setYear").innerHTML = d;
        document.getElementById("setYear2").innerHTML = d1;
    </script>
</div>

<div>
    <h3>JavaScript setMonth()</h3>

    <p>The setMonth() method sets the month of a date object.</p>
    <p>Note that months count from 0. December is month 11:</p>

    <p id="setMonth"></p>

    <script>
        var d2 = new Date();

        d2.setMonth(11);

        document.getElementById("setMonth").innerHTML = d2;
    </script>
</div>

</body>
</html>