<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JS Date Set Methods</h2>

<div>
    <h3>JavaScript setFullYear</h3>

    <p>The setFullYear() method sets the year of a date
    object:</p>

    <p id="setYear"></p>

    <p>---</p>
    <p>The setFullYear() method can optionally set month and day.</p>
    <p>Please note that the month counts from 0. December is
    month 11:</p>

    <p id="setYear2"></p>

    <script>
        var d = new Date();
        var d1 = new Date();

        d.setFullYear(2020);
        d1.setFullYear(2020, 11, 3);

        document.getElementById("setYear").innerHTML = d;
        document.getElementById("setYear2").innerHTML = d1;
    </script>
</div>

<div>
    <h3>JavaScript setMonth()</h3>

    <p>The setMonth() method sets the month of a date object.</p>
    <p>Note that months count from 0. December is month 11:</p>

    <p id="setMonth"></p>

    <script>
        var d2 = new Date();

        d2.setMonth(11);

        document.getElementById("setMonth").innerHTML = d2;
    </script>
</div>

<div>
    <h3>JavaScript setDate()</h3>

    <p>The setDate() method sets the day of a date object:</p>

    <p id="setDateDemo"></p>

    <p>---</p>
    <p>The setDate() method can be used to add days to a date.</p>

    <p id="setDateDemo2"></p>

    <script>
        var d3 = new Date();
        var d4 = new Date();

        d3.setDate(15);
        d4.setDate(d4.getDate() + 50);

        document.getElementById("setDateDemo").innerHTML= d3;
        document.getElementById("setDateDemo2").innerHTML = d4;
    </script>
</div>

<div>
    <h3>JavaScript setHours()</h3>

    <p>The setHours() method sets the hours of a date object:</p>
    <p id="setHoursDemo"></p>

    <script>
        var d5 = new Date();

        d5.setHours(22);

        document.getElementById("setHoursDemo").innerHTML = d5;
    </script>
</div>

<div>
    <h3>JavaScript setMinutes()</h3>

    <p>The setMinutes() method sets the minutes of a date object
    (0-59):</p>

    <p id="setMinuteDemo"></p>

    <script>
        var d6 = new Date();

        d6.setMinutes(30);

        document.getElementById("setMinuteDemo").innerHTML = d6;
    </script>
</div>

<div>
    <h3>JavaScript setSeconds()</h3>

    <p>The setSeconds() method sets the seconds of a date
    object (0-59):</p>

    <p id="secondsDemo"></p>

    <script>
        var d7 = new Date();

        d7.setSeconds(30);

        document.getElementById("secondsDemo").innerHTML = d7;
    </script>
</div>

<div>
    <h3>comparing dates</h3>

    <p id="compareDemo"></p>

    <script>
        var today, someday, text;

        today = new Date();
        someday = new Date();
        someday.setFullYear(2100, 0, 14);

        if (someday > today) {
            text = "Today is before January 14, 2100.";
        }
            else {
                text = "Today is after January 14, 2100.";
            }

        document.getElementById("compareDemo").innerHTML = text;
    </script>
</div>

</body>
</html>