<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JS Date Get Methods</h2>

<div>
    <h3>JavaScript getTime()</h3>

    <p>The internal clock in JavaScript counts from
    midnight January 1, 1970.</p>

    <p>The getTime() function returns the number of
    milliseconds since then:</p>

    <p id="dateDemo1"></p>

    <script>
        var d1 = new Date();
        document.getElementById("dateDemo1").innerHTML =
            d1.getTime();
    </script>
</div>

<div>

</div>

</body>
</html>