<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - Arrow Functions</h1>
<p>from w3schools.com</p>

<div>
    <h3>The console.log() Method</h3>

    <h4>My First Web Page</h4>

    <p>Activate debugging in your browser (Chrome,
    IE, Firefox) with F12, and select "Console" in
    the debugger menu.</p>

    <script>
        a = 5;
        b = 6;
        c = a + b;
        console.log(c);
    </script>
</div>

</body>
</html>