<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Errors</h2>

<div>
    <h3>JavaScript Error Handling</h3>

    <p>This example demonstrates how to use <b>catch</b> to
    display an error.</p>

    <p id="catchDemo"></p>

    <script>
        try {
            adddlert("Welcome guest");
        }

        catch(err)  {
            document.getElementById("catchDemo").innerHTML =
                err.message;
        }
    </script>
</div>

<div>
    <h3>Throw exception</h3>

    <p>Please input a number between 5 and 10:</p>

    <input id="numberGen" type="text">
    <button type="button" onclick="fiveToTen()">Test Input</button>
    <p id="numberVeri"></p>

    <script>
        function fiveToTen() {
            var message = document.getElementById("numberVeri");
            var x = document.getElementById("numberGen").value;

            message.innerHTML = "";

            try {
                if (x == "") throw "empty";
                if (isNaN(x)) throw "not a number";

                x = Number(x);
                if (x < 5) throw "too low";
                if (x > 10) throw "too high";
            }

            catch(err) {
                message.innerHTML = "Input is " + err;
            }
        }
    </script>
</div>

<div>
    <h3>Finally</h3>

    <p>Please input a number between 5 and 10:</p>

    <input id="demo" type="text">
    <button type="button" onclick="myFunction()">Test Input</button>

    <p id="p01"></p>

    <script>
function myFunction() {
  var message, x;
  message = document.getElementById("p01");
  message.innerHTML = "";
  x = document.getElementById("demo").value;
  try {
    if(x == "")  throw "is empty";
    if(isNaN(x)) throw "is not a number";
    x = Number(x);
    if(x > 10)   throw "is too high";
    if(x < 5)  throw "is too low";
  }
  catch(err) {
    message.innerHTML = "Input " + err;
  }
  finally {
    document.getElementById("demo").value = "";
  }
}
</script>
</div>

</body>
</html>