<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Events Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>Creating a button that tells the time!</h3>

    <button
        onclick="document.getElementById('demoTime').innerHTML=Date()">
        What Time is it?
    </button>

    <p id="demoTime"></p>
</div>

<div>
    <h3>New time button changing element</h3>

    <button onclick="this.innerHTML=Date()">
        What Time is it?
    </button>
</div>

</body>
</html>