<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<div>
    <h3>JavaScript Functions</h3>
    <p>This example calls a function which
        performs a calculation,
        and returns a result:</p>

    <p id="funcDemo1"></p>

    <script>
        function myFuncDemo1(p1, p2) {
            return p1 * p2;
        }

        document.getElementById("funcDemo1").innerHTML = myFuncDemo1(4, 3);
    </script>
</div>

<div>
    <p>Created a new function.</p>

    <p id="funcDemo2"></p>

    <script>
        var x = myFunction(4, 3);
        document.getElementById("funcDemo2").innerHTML = x;

        function myFunction(a, b) {
        return a * b;
        }
    </script>
</div>

<div>
    <p>This example calls a function to convert from Fahrenheit to Celsius:</p>
    <p id="f2cDemo"></p>

    <script>
        function toCelsius(f) {
            return (5/9) * (f - 32);
        }
        document.getElementById("f2cDemo").innerHTML = toCelsius(77);
    </script>
</div>

<div>
    <p>Accessing a function without () will return the function definition instead of the function result:</p>
    <p id="Demo2"></p>

    <script>
        function toCelsius(f) {
            return (5/9) * (f-32);
        }
        document.getElementById("Demo2").innerHTML = toCelsius;
    </script>
</div>

<div>
    <p>Another example, Function used as Variable Values</p>
    <p id="demo3"></p>

    <script>
        document.getElementById("demo3").innerHTML =
        "The temp is " + toCelsius(77) + " C.";

        function toCelsius(fahrenheit) {
            return (5/9) * (fahrenheit - 32);
        }
    </script>
</div>

<div>
    <h3>JavaScript Functions</h3>

    <p>Outside myFunction() carName is undefined.</p>

    <p id="nameDemo1"></p>
    <p id="nameDemo2"></p>

    <script>
        myFunction();

        function myFunction() {
        var carName = "Volvo";
        document.getElementById("nameDemo1").innerHTML =
        typeof carName + " - " + carName;
        }

        document.getElementById("nameDemo2").innerHTML =
        typeof carName;
    </script>
</div>

</body>
</html>