<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Hoisting</h2>

<div>
    <h3>JavaScript Declarations are Hoisted</h3>

    <p id="hoistDemo1"></p>
    <p id="hoistDemo2"></p>

    <script>
        x = 5;

        elem = document.getElementById("hoistDemo1");
        elem.innerHTML = x;

        var x;

        var y;
        y = 5;

        elemy = document.getElementById("hoistDemo2");
        elemy.innerHTML = y;
    </script>
</div>

<div>
    <h3>JavaScript Initializations are Not Hoisted</h3>

    <p id="hoistDemo3"></p>
    <p id="hoistDemo4"></p>
    <p>To Avoid this it is best to declare your variables
    at the top.</p>

    <script>
        var x1 = 5;
        var x2 = 7;

        elemX = document.getElementById("hoistDemo3");
        elemX.innerHTML = x1 + " " + x2;

        var y1 = 5;

        elemY = document.getElementById("hoistDemo4");
        elemY.innerHTML = "x is " + y1 + " and y is " + y2;

        var y2 = 7;
    </script>
</div>

</body>
</html>