<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial - w3schools</title>
</head>
<body>

<h1>w3schools.com JavaScript Tutorials</h1>

<form>
    <div><a href="/intro">Introduction</a></div>
    <div><a href="/where-to">Where To</a></div>
    <div><a href="/output">Output</a></div>
    <div><a href="/statement">Statements</a></div>
    <div><a href="/syntax">Syntax</a></div>
    <div><a href="/comments">Comments</a></div>
    <div><a href="/variables">Variables</a></div>
    <div><a href="/operators">Operators</a></div>
    <div><a href="/arithmetic">Arithmetic</a></div>
    <div><a href="/assignment">Assignment</a></div>
    <div><a href="/datatypes">Data Types</a></div>
    <div><a href="/functions">Functions</a></div>
    <div><a href="/objects">Objects</a></div>
    <div><a href="/events">Events</a></div>
    <div><a href="/strings">Strings</a></div>
    <div><a href="/stringMethods">String Methods</a></div>
    <div><a href="/numbers">Numbers</a></div>
    <div><a href="/numberMethods">Number Methods</a></div>
    <div><a href="/arrays">Arrays</a></div>
    <div><a href="/arrayMethods">Array Methods</a></div>
    <div><a href="/arraySort">Array Sort</a></div>
    <div><a href="/arrayIteration">Array Iteration</a></div>
    <div><a href="/dates">Dates</a></div>
    <div><a href="/dateFormats">Date Formats</a></div>
    <div><a href="/dateGetMethods">Date Get Methods</a></div>
</form>

</body>
</html>