<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial - w3schools</title>
</head>
<body>

<h1>w3schools.com JavaScript Tutorials</h1>

<form>
    <div><a href="/intro">Introduction</a></div>
    <div><a href="/where-to">Where To</a></div>
    <div><a href="/output">Output</a></div>
    <div><a href="/statement">Statements</a></div>
    <div><a href="/syntax">Syntax</a></div>
    <div><a href="/comments">Comments</a></div>
    <div><a href="/variables">Variables</a></div>
    <div><a href="/operators">Operators</a></div>
</form>

</body>
</html>