<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - Let</h1>
<p>from w3schools.com</p>

<div>
<h3>JavaScript Scope - global</h3>

<p>A GLOBAL variable can be accessed from any script
or function.</p>

<p id="globalDemo"></p>

<script>
    var carName = "Volvo";
    carFunction();

    function carFunction() {
        document.getElementById("globalDemo").innerHTML =
            "I can display ... " + carName;
    }
</script>
</div>

<div>
    <h3>JavaScript Scope - function</h3>

    <p>Outside of my Function() this carName is undefined.</p>

    <p id="funcScopeDemo1"></p>
    <p id="funcScopeDemo2"></p>

    <script>
        carNameFunction();

        function carNameFunction() {
            var carName1 = "Volvo";
            document.getElementById("funcScopeDemo1").innerHTML =
                typeof carName1 + " " + carName1;
        }

        document.getElementById("funcScopeDemo2").innerHTML =
            typeof carName1;
    </script>
</div>

<div>
    <h3>Declaring a Variable Using var</h3>

    <p id="declareDemo"></p>

    <script>
        var x = 10;

        {
            var X = 2;
        }

        document.getElementById("declareDemo").innerHTML = x;
    </script>
</div>

</body>
</html>