<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript For Loops</h2>

<div>
    <h3>For Loops run for each element in the array</h3>

    <p id="carLoop"></p>

    <script>
        var cars = ["BMW",
            "Volvo",
            "Saab",
            "Ford",
            "Fiat",
            "Audi"];
        var text = "";
        var i;

        for (i=0; i < cars.length; i++) {
            text += cars[i] + "<br>";
        }
        document.getElementById("carLoop").innerHTML = text
    </script>
</div>

<div>
    <h3>The For Loop</h3>

    <p id="forLoopExample"></p>

    <script>
        var loopText = "";
        var ii;

        for (ii = 4; ii < 9; ii++) {
            loopText += "The number is " + ii + "<br>";
        }
        document.getElementById("forLoopExample").innerHTML =
            loopText;
    </script>
</div>

<div>
    <h3>Optional first statement</h3>

    <p id="stateOne"></p>

    <script>
        var cars2 = ["BMW",
            "Volvo",
            "Saab",
            "Ford"];
        var i, len, text;

        for (i = 1, len = cars2.length, text = "";
            i < len;
            i++) {
                text += cars2[i] + "<br>";
            }

        document.getElementById("stateOne").innerHTML = text;
    </script>
</div>

<div>
    <h3>Alternate first Statement</h3>

    <p>This example I've defined the variables first</p>

    <p id="stateOne2"></p>

    <script>
        var cars3 = ["BMW",
            "Volvo",
            "Saab",
            "Ford",
            "Fiat",
            "Audi"];
        var i = 2;
        var len = cars.length;
        var text = "";

        for (; i < len; i++) {
            text += cars3[i] + "<br>";
        }
        document.getElementById("stateOne2").innerHTML =
            text;
    </script>
</div>
</body>
</html>