<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript For Loops</h2>

<div>
    <h3>For Loops run for each element in the array</h3>

    <p id="carLoop"></p>

    <script>
        var cars = ["BMW",
            "Volvo",
            "Saab",
            "Ford",
            "Fiat",
            "Audi"];
        var text = "";
        var i;

        for (i=0; i < cars.length; i++) {
            text += cars[i] + "<br>";
        }
        document.getElementById("carLoop").innerHTML = text
    </script>
</div>

<div>
    <h3>The For Loop</h3>

    <p id="forLoopExample"></p>

    <script>
        var loopText = "";
        var ii;

        for (ii = 4; ii < 9; ii++) {
            loopText += "The number is " + ii + "<br>";
        }
        document.getElementById("forLoopExample").innerHTML =
            loopText;
    </script>
</div>
</body>
</html>