<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript While Loops</h2>

<div>
<p id="whileLoop1"></p>

<script>
    var text = "";
    var i = 0;

    while (i < 15) {
        text += "<br>The Number is " + i;
        i++;
    }
    document.getElementById("whileLoop1").innerHTML =
        text;
</script>
</div>
    <h3>Do/While Loop</h3>

    <p>This loop will execute the code block once, before
    checking the condition is true, then it will repeat the
    loop as long as the condition is true.</p>

    <p id="doWhileLoop"></p>
    <p id="doWhileLoopAlt"></p>

    <script>
        var text = "";
        var textAlt = "alt";
        var i = 0;
        var ii = 75;

        do {
            text += "<br>The number is " + i;
            i++;
        }

        while (i < 10);

        do {
            textAlt += "<br>The number is " + ii;
            ii++;
        }
        while (ii < 10);

        document.getElementById("doWhileLoop").innerHTML =
            text;
        document.getElementById("doWhileLoopAlt").innerHTML =
            textAlt;
    </script>
<div>

</div>
</body>
</html>