<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Math Object</h2>

<div>
    <h3>JavaScript Math.PI</h3>

    <p>Math.PI returns the ration of a circle's circumference
    to its diameter:</p>

    <p id="piDemo"></p>

    <script>
        document.getElementById("piDemo").innerHTML = Math.PI;
    </script>
</div>

<div>
    <h3>JavaScript Math.round()</h3>

    <p>Math.round(x) returns the value of x rounded to its
    nearest integer:</p>

    <p id="roundDemo"></p>

    <script>
        document.getElementById("roundDemo").innerHTML =
            Math.round(4.4) + "<br>" + Math.round(4.7);
    </script>
</div>

<div>
    <h3>JavaScript Math.pow</h3>

    <p>Math.pow(x,y) returns the value of x to the power of y:</p>
    <p id="powerDemo"></p>

    <script>
        document.getElementById("powerDemo").innerHTML =
            Math.pow(8,2) + "<br>" +
            Math.pow(8,3) + "<br>" +
            Math.pow(8,4);
    </script>
</div>

<div>
    <h3>JavaScript Math.sqrt()</h3>

    <p>Math.sqrt(x) returns the square root of x:</p>

    <p id="sqrtDemo"></p>

    <script>
        document.getElementById("sqrtDemo").innerHTML=
            Math.sqrt(64);
    </script>
</div>

<div>
    <h3>JavaScript Math.abs()</h3>

    <p>Math.abs(x) returns the absolute (positive) value of x:</p>

    <p id="absDemo"></p>

    <script>
        document.getElementById("absDemo").innerHTML =
            Math.abs(-4.4);
    </script>
</div>

<div>
    <h3>JavaScript Math.ceil()</h3>

    <p>Math.ceil() rounds a number <strong>up</strong> to
    its nearest integer:</p>

    <p id="ceilDemo"></p>

    <script>
        document.getElementById("ceilDemo").innerHTML =
            Math.ceil(4.4);
    </script>
</div>

<div>
    <h3>JavaScript Math.floor()</h3>

    <p>Math.floor(x) returns the value of x rounded
        <strong>down</strong> to its nearest integer:</p>

    <p id="floorDemo"></p>

    <script>
        document.getElementById("floorDemo").innerHTML =
            Math.floor(4.7);
    </script>
</div>

</body>
</html>