<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Math Object</h2>

<div>
    <h3>JavaScript Math.PI</h3>

    <p>Math.PI returns the ration of a circle's circumference
    to its diameter:</p>

    <p id="piDemo"></p>

    <script>
        document.getElementById("piDemo").innerHTML = Math.PI;
    </script>
</div>

<div>
    <h3>JavaScript Math.round()</h3>

    <p>Math.round(x) returns the value of x rounded to its
    nearest integer:</p>

    <p id="roundDemo"></p>

    <script>
        document.getElementById("roundDemo").innerHTML =
            Math.round(4.4) + "<br>" + Math.round(4.7);
    </script>
</div>

<div>
    <h3>JavaScript Math.pow</h3>

    <p>Math.pow(x,y) returns the value of x to the power of y:</p>
    <p id="powerDemo"></p>

    <script>
        document.getElementById("powerDemo").innerHTML =
            Math.pow(8,2) + "<br>" +
            Math.pow(8,3) + "<br>" +
            Math.pow(8,4);
    </script>
</div>

</body>
</html>