<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - Mistakes</h1>
<p>from w3schools.com</p>

<div>
    <h3>Accidentally Using the Assignment Operator</h3>

    <p>JavaScript programs may generate unexpected results if a
    programmer accidentally uses an assignment operator (=), instead
    of a comparison operator (==) in an if statement.</p>

    <p>This if statement returns false (as expected) because x
    is not equal to 10:</p>

    <p id="mistakeDemo01"></p>

    <p>This if statement returns true (maybe not as expected), because
        10 is true:</p>

    <p id="mistakeDemo02"></p>

    <p>This if statement returns false (maybe not as expected),
    because 0 is false:</p>

    <p id="mistakeDemo03"></p>

    <script>
        var x = 0;

        document.getElementById("mistakeDemo01").innerHTML =
            Boolean(x == 10);
        document.getElementById("mistakeDemo02").innerHTML =
            Boolean(x = 10);
        document.getElementById("mistakeDemo03").innerHTML =
            Boolean(x = 0);
    </script>
</div>

<div>
    <h3>Expecting Loose Comparison</h3>

    <p>In regular comparison, data types do not matter. This if
    statement returns true:</p>

    <p id="mistakeDemo04"></p>

    <p>In a strict comparison, data type does matter. This if
    statement returns false:</p>

    <p id="mistakeDemo05"></p>

    <p>It is a common mistake to forget that switch statements
    use strict comparison:</p>
    <p>This case switch will display an alert:</p>

    <script>
        var x = 10;
        var y = "10";

        switch(x) {
            case 10: alert("Hola");
        }

        switch(y) {
            case 10: alert("Hello");
        }

        document.getElementById("mistakeDemo04").innerHTML =
            Boolean(x == y);
        document.getElementById("mistakeDemo05").innerHTML =
            Boolean(x === y);
    </script>
</div>

<div>
    <h3>Confusing Addition & Concatenation</h3>

    <p><strong>Addition</strong> is about adding
        <strong>numbers</strong></p>
    <p><strong>Concatenation</strong> is about adding
        <strong>strings</strong></p>

    <p>In JavaScript both operations use the same + operator.</p>

    <p>Because of this, adding a number as a number will produce
    a different result from adding a number as a string:</p>

    <p id="mistakeDemo06"></p>
    <p id="mistakeDemo07"></p>

    <script>
        var x = 10 + 5;
        var y = 10 + "5";

        document.getElementById("mistakeDemo06").innerHTML =
            "10 + 5 = " + x;
        document.getElementById("mistakeDemo07").innerHTML =
            "10 + '5' = " + y;
    </script>
</div>

<div>
    <p>When adding two variables, it can be difficult to anticipate
    the result:</p>

    <p id="mistakeDemo08"></p>

    <script>
        var x = 10;
        var y = "5";
        var z = x + y;

        document.getElementById("mistakeDemo08").innerHTML = z;
    </script>
</div>

<div>
    <h3>Misunderstanding Floats</h3>

    <p>All numbers in JavaScript are stored as 64-bit
    <strong>Floating point numbers</strong>, or Floats.</p>

    <p>All programming languages, including JavaScript,
    have difficulties with precise floating point values:</p>

    <p id="mistakeDemo09"></p>

    <p>To solve the problem above, it helps to multiply and divide:</p>

    <p id="mistakeDemo10"></p>
    <p id="mistakeDemo11"></p>

    <script>
        var x = 0.1;
        var y = 0.2;
        var z = x + y;
        var altZ = (x * 5 + y * 5) / 5;
        var altZ2 = (x * 1 + y * 1) / 1;

        document.getElementById("mistakeDemo09").innerHTML = z;
        document.getElementById("mistakeDemo10").innerHTML = altZ;
        document.getElementById("mistakeDemo11").innerHTML = altZ2;
    </script>
</div>

<div>
    <h3>Breaking a JavaScript String</h3>

    <p>JavaScript will allow you to break a statement into
    to lines:</p>

    <p id="mistakeDemo12"></p>

    <p>but breaking up a string in the middle doesn't work...</p>
    <p>so you got to put that backslash \ mark at the line breaks.</p>
    <p id="mistakeDemo13"></p>

    <script>
        document.getElementById("mistakeDemo12").innerHTML =
            "Hello World!";
        document.getElementById("mistakeDemo13").innerHTML =
            "Hello \
            World!";
    </script>
</div>

<div>
    <h3>Misplacing SemiColon</h3>

    <p>In the code example, the misplaced semicolon (after the
    if statement) will cause the code block to execute:</p>
    <p id="mistakeDemo14"></p>

    <script>
        var x = 5;
        if (x == 12);
            {
                document.getElementById("mistakeDemo14").innerHTML =
                    "Hello Matey";
            }
    </script>
</div>

<div>
    <h3>Breaking a Return Statement</h3>

    <p>It is a default JavaScript behavior to close a statement
    automatically at the end of a line.</p>

    <p>Because of this, these two code examples return the same
    result:</p>

    <p id="powerDemo01"></p>

    <script>
        document.getElementById("powerDemo01").innerHTML =
            myFunction01(55);
        function myFunction01(a) {
            var power = 10
            return a * power
        }

    </script>
</div>
</body>
</html>