<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Strings Tutorials</h1>

<p>from w3schools.com</p>

<h2>Number Methods</h2>

<div>
    <h3>toString() Method</h3>

    <p>The toString() method converts a number to a string.</p>
    <p id="toStringDemo"></p>

    <script>
        var x = 123;

        document.getElementById("toStringDemo").innerHTML =
            x.toString() + "<br>" +
            (123).toString() + "<br>" +
            (100 + 23).toString();
    </script>
</div>

<div>
    <h3>toExponential() Method</h3>

    <p>
        The toExponential() Method returns a string, with the
        number rounded and written using exponential notation.
    </p>

    <p>
        An optional parameter defines the number of digits behind
        the decimal point.
    </p>

    <p id="exponentialDemo"></p>

    <script>
        var x2 = 96.56;

        document.getElementById("exponentialDemo").innerHTML =
            x2.toExponential() + "<br>" +
            x2.toExponential(2) + "<br>" +
            x2.toExponential(4) + "<br>" +
            x2.toExponential(6);
    </script>
</div>

<div>
    <h3>toFixed() Method</h3>

    <p>The toFixed() method rounds a number to a given number of digits.</p>
    <p>For working with money, toFixed(2) is perfect.</p>
    <p id="toFixedDemo"></p>

    <script>
        document.getElementById("toFixedDemo").innerHTML =
            x2.toFixed(0) + "<br>" +
            x2.toFixed(2) + "<br>" +
            x2.toFixed(4) + "<br>" +
            x2.toFixed(6);
    </script>
</div>

<div>
    <h3>toPrecision() Method</h3>

    <p>The toPrecision() Method returns a string, with a number written
    with a specific length:</p>

    <p id="precisionMethodDemo"></p>

    <script>
        document.getElementById("precisionMethodDemo").innerHTML =
            x2.toPrecision() + "<br>" +
            x2.toPrecision(2) + "<br>" +
            x2.toPrecision(4) + "<br>" +
            x2.toPrecision(6);
    </script>
</div>

<div>
    <h3>valueOf() Method</h3>

    <p>The valueOf() Method returns a number as a number:</p>
    <p id="valueOfDemo"></p>

    <script>
        document.getElementById("valueOfDemo").innerHTML =
        x.valueOf() + "<br>" +
        (123).valueOf() + "<br>" +
        (100 + 23).valueOf();
    </script>
</div>

<div>
    <h2>Converting Variables into Numbers</h2>
    <h3>and Global JavaScript Methods</h3>

    <p>The Number() method converts variables to numbers:</p>
    <p id = "numberMethDemo"></p>

    <script>
        document.getElementById("numberMethDemo").innerHTML =
            Number(true) + "<br>" +
            Number(false) + "<br>" +
            Number("10") + "<br>" +
            Number("  10") + "<br>" +
            Number("10  ") + "<br>" +
            Number(" 10  ") + "<br>" +
            Number("10.33") + "<br>" +
            Number("10,33") + "<br>" +
            Number("10 33") + "<br>" +
            Number("John");
    </script>

</div>

</body>
</html>