<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Strings Tutorials</h1>

<p>from w3schools.com</p>

<h2>Numbers!</h2>

<div>
    <p>Number can be written with or without decimals:</p>

    <p id="numDemo1"></p>

    <p>Extra Large Numbers or extra small ones can be written with scientific
        (exponential) notation:</p>

    <p id="numDemo2"></p>
    <script>
        var x = 3.14;
        var y = 3;

        var x2 = 123e5;
        var y2 = 123e-5;

        document.getElementById("numDemo1").innerHTML =
            x + "<br>" + y;
        document.getElementById("numDemo2").innerHTML =
            x2 + "<br>" + y2;
    </script>
</div>


</body>
</html>