<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Strings Tutorials</h1>

<p>from w3schools.com</p>

<h2>Numbers!</h2>

<div>
    <p>Number can be written with or without decimals:</p>

    <p id="numDemo1"></p>

    <script>
        var x = 3.14;
        var y = 3;

        document.getElementById("numDemo1").innerHTML = x + "<br>" + y;
    </script>
</div>


</body>
</html>