<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Strings Tutorials</h1>

<p>from w3schools.com</p>

<h2>Numbers!</h2>

<div>
    <p>Number can be written with or without decimals:</p>

    <p id="numDemo1"></p>

    <p>Extra Large Numbers or extra small ones can be written with scientific
        (exponential) notation:</p>

    <p id="numDemo2"></p>
    <script>
        var x = 3.14;
        var y = 3;

        var x2 = 123e5;
        var y2 = 123e-5;

        document.getElementById("numDemo1").innerHTML =
            x + "<br>" + y;
        document.getElementById("numDemo2").innerHTML =
            x2 + "<br>" + y2;
    </script>
</div>

<div>
    <h3>Integers</h3>
    <p>Integers are accurate up to 15 digits:</p>

    <p id="intDemo"></p>

    <script>
        var x = 999999999999999;
        var y = 9999999999999999;
        document.getElementById("intDemo").innerHTML =
            x + "<br>" + y;
    </script>
</div>

<div>
    <h3>Float</h3>
    <p>Floating point arithmetic is not always 100% accurate:</p>

    <p id="floatDemo"></p>

    <p> But it helps to multiply and divide:</p>

    <p id="floatDemo2"></p>

    <script>
        var x = 0.2 + 0.1;
        var y = (0.2 * 10 + 0.1 * 10) / 10;

        document.getElementById("floatDemo").innerHTML =
            "0.2 + 0.1 = " + x;
        document.getElementById("floatDemo2").innerHTML =
            "0.2 + 0.1 = " + y;
    </script>
</div>

<div>
    <h3>Adding Numbers and Strings</h3>
    <p>If you add two numbers, the result will be a number:</p>

    <p id="addDemo"></p>

    <p>If you add two numeric strings, the result will be a
    concatenated string:</p>
    <p id = "stringDemo"></p>

    <p>If you add string and number, the result is concatenated string:</p>
    <p id = "strNumDemo"></p>


    <script>
        var addX = 10;
        var addY = 20;
        var addZ = addX + addY;

        var stringX = "10";
        var stringY = "20";
        var stringZ = stringX + stringY;

        var strNumZ = addX + stringY;


        document.getElementById("addDemo").innerHTML = addZ;
        document.getElementById("stringDemo").innerHTML = stringZ;
        document.getElementById("strNumDemo").innerHTML = strNumZ;

    </script>
</div>

</body>
</html>