<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Strings Tutorials</h1>

<p>from w3schools.com</p>

<h2>Number Methods</h2>

<div>
    <h3>toString() Method</h3>

    <p>The toString() method converts a number to a string.</p>
    <p id="toStringDemo"></p>

    <script>
        var x = 123;

        document.getElementById("toStringDemo").innerHTML =
            x.toString() + "<br>" +
            (123).toString() + "<br>" +
            (100 + 23).toString();
    </script>
</div>
</body>
</html>