<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Objects Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h2>JavaScript Variables</h2>
    <p id="demo"></p>

    <script>
        // Create and display a variable:
        var car = "Fiat";
        document.getElementById("demo").innerHTML = car;
    </script>
</div>

<div>
    <h3>JavaScript Objects</h3>
    <p id="demo2"></p>

    <script>
        // Create an object:
        var car = {type: "Fiat", model: "500", color: "white"};

        // Display some data from the object:
        document.getElementById("demo2").innerHTML =
        "This car is a " + car.type;
    </script>
</div>

<div>
    <h3>JavaScript Objects</h3>
    <p id="demo3"></p>

    <script>
        // Create an object;
        var person = {
        firstName:  "John",
        lastName: "Doe",
        age: 50,
        eyeColor: "blue"
        };

        // Display some data from the object:
        document.getElementById("demo3").innerHTML =
        person.firstName + " is " + person.age + " years old.";
    </script>
</div>

<div>
    <h3>JavaScript Objects</h3>
    <p>There are two ways to access an object property.</p>

    <p>You can use person.property or person["property"].</p>

    <p id="demo4"></p>
    <p id="demo5"></p>

    <script>
        // Create an object:
        var person = {
        firstName: "John",
        lastName: "Doe"
        };

        // Display some data from the object:
        document.getElementById("demo4").innerHTML =
        person.firstName + " " + person.lastName;

        // Alternate method:
        document.getElementById("demo5").innerHTML =
        person["firstName"] + " " + person["lastName"];
    </script>
</div>

<div>
    <h3>Accessing Object Methods</h3>

    <p>An object method is a function definition, stored as a property value.</p>

    <p id="demoThis"></p>

    <script>
        // Create an object:
        var person = {
        firstName: "John",
        lastName: "Doe",
        id: 5566,
        fullName: function() {
        return this.firstName + " " + this.lastName;
        }
        };

        // Display data from the object:
        document.getElementById("demoThis").innerHTML =
        person.fullName();
    </script>
</div>

<div>
    
</div>

</body>
</html>