<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Objects Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h2>JavaScript Variables</h2>
    <p id="demo"></p>

    <script>
        // Create and display a variable:
        var car = "Fiat";
        document.getElementById("demo").innerHTML = car;
    </script>
</div>

<div>
    <h3>JavaScript Objects</h3>
    <p id="demo2"></p>

    <script>
        // Create an object:
        var car = {type: "Fiat", model: "500", color: "white"};

        // Display some data from the object:
        document.getElementById("demo2").innerHTML =
        "This car is a " + car.type;
    </script>
</div>

</body>
</html>