<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>

<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<div>
    <h1>Java Operators Tutorials</h1>
    <p>from w3schools.com</p>
</div>

<div>
    <h2>x = 5, y = 2, calculate z = x + y, and display z:</h2>

    <p id="opDemo1"></p>

    <script>
        var x = 5;
        var y = 2;
        var z = x + y;
        document.getElementById("opDemo1").innerHTML = z;
    </script>
</div>

<div>
    <h2>The = Operator</h2>

    <p id="opDemo2"></p>

    <script>
        var x = 10;
        document.getElementById("opDemo2").innerHTML = x;
    </script>
</div>

<div>
    <h2>The + Operator</h2>

    <p id="opDemo3"></p>

    <script>
        var x = 5;
        var y = 2;
        var z = x + y
        document.getElementById("opDemo3").innerHTML = z;
    </script>
</div>

<div>
    <h2>The * Operator</h2>

    <p id="opDemo4"></p>

    <script>
        var w = x * y;
        document.getElementById("opDemo4").innerHTML = w;
    </script>
</div>

<div>
    <h2>The += Operator</h2>

    <p id="opDemo5"></p>

    <script>
        var x = 10;
        x += 5;
        document.getElementById("opDemo5").innerHTML = x;
    </script>
</div>

<div>
    <h2>JavaScript Operators</h2>

    <p>The + operator concatenates (adds) strings.</p>

    <p id="opDemo6"></p>

    <script>
        var txt1 = "John";
        var txt2 = "Doe";
        document.getElementById("opDemo6").innerHTML = txt1 + " " + txt2;
    </script>
</div>

</body>
</html>