<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Math.Random</h2>

<div>
    <h3>JavaScript Math.random()</h3>

    <p>Math.random() returns a random number between 0
    (included) and 1 (excluded):</p>

    <p id="randomDemo1"></p>

    <script>
        document.getElementById("randomDemo1").innerHTML =
            Math.random();
    </script>
</div>


</body>
</html>