<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Math.Random</h2>

<div>
    <h3>JavaScript Math.random()</h3>

    <p>Math.random() returns a random number between 0
    (included) and 1 (excluded):</p>

    <p id="randomDemo1"></p>

    <script>
        document.getElementById("randomDemo1").innerHTML =
            Math.random();
    </script>
</div>

<div>
    <h3>JavaScript Math.random to Integers</h3>

    <p>Math.floor(Math.random() * 10) returns a random
    integer between 0 and 9 (both included):</p>
    <p id="randomIntDemo"></p>

    <p>---</p>
    <p>Math.floor(Math.random() * 11) returns a random
    integer between 0 and 10 (both included):</p>
    <p id="randomIntDemo2"></p>

    <p>---</p>
    <p>Math.floor(Math.random() * 100) return a random
    integer between 0 and 99 (both included):</p>
    <p id="randomIntDemo3"></p>

    <p>---</p>
    <p>Math.floor(Math.random() * 101) return a random
    integer between 0 and 100 (both included):</p>
    <p id="randomIntDemo4"></p>

    <script>
        document.getElementById("randomIntDemo").innerHTML =
            Math.floor(Math.random() * 10);

        document.getElementById("randomIntDemo2").innerHTML =
            Math.floor(Math.random() * 11);

        document.getElementById("randomIntDemo3").innerHTML =
            Math.floor(Math.random() * 100);

        document.getElementById("randomIntDemo4").innerHTML =
            Math.floor(Math.random() * 101);
    </script>
</div>

</body>
</html>