<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Regular Expressions</h2>

<div>
    <h3>JavaScript Search Methods</h3>

    <p>Search a string for "W3Schools", and display the position of
    the match:</p>
    <p id="searchString1"></p>

    <p>The following example uses code to make search case insensitive
        using a regular expression:</p>
    <p id="searchString2"></p>

    <script>
        var str = "Visit W3Schools!";

        var n = str.search("W3Schools");
        var o = str.search(/w3Schools/i);

        document.getElementById("searchString1").innerHTML = n;
        document.getElementById("searchString2").innerHTML = o;
    </script>
</div>

<div>
    <h3>JavaScript Replace Methods</h3>

    <p>Replace "Microsoft" with "W3Schools" in the paragraph below:</p>
    <p id="replaceDemo1">Please visit Microsoft!</p>
    <p id="replaceDemo2">Please visit Microsoft and Microsoft!</p>

    <button onclick="repFunc()">Replace that Biz!</button>

    <script>
        function repFunc() {
            var str1 = document.getElementById("replaceDemo1").innerHTML;
            var txt1 = str1.replace("Microsoft", "W3Schools");
            document.getElementById("replaceDemo1").innerHTML = txt1;

            var str2 = document.getElementById("replaceDemo2").innerHTML;
            var txt2 = str2.replace(/microsoft/i, "W3Schools");
            document.getElementById("replaceDemo2").innerHTML = txt2;
        }
    </script>
</div>

<div>
    <h3>Regular Expression Modifiers</h3>

    <p>Click the button to do a case-insensitive search for "w3schools"
    in a string.</p>
    <button onclick="insensitive()">CLICK</button>
    <p id="caseInsens"></p>

    <p>Click the button to do a global search for "is" in a string.</p>
    <button onclick="global()">CLICK</button>
    <p id="globalSearch"></p>

    <script>
        function insensitive() {
            var str = "Visit W3Schools";
            var patt1 =  /w3schools/i;
            var result = str.match(patt1);

            document.getElementById("caseInsens").innerHTML = result;
        }

        function global() {
            var str = "Is this all there is?";
            var patt1 = /is/g;
            var result = str.match(patt1);

            document.getElementById("globalSearch").innerHTML = result;
        }
    </script>
</div>
</body>
</html>