<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Regular Expressions</h2>

<div>
    <h3>JavaScript String Methods</h3>

    <p>Search a string for "W3Schools", and display the position of
    the match:</p>

    <p id="searchString"></p>

    <script>
        var str = "Visit W3Schools!";
        var n = str.search("W3Schools");
        document.getElementById("searchString").innerHTML = n;
    </script>
</div>
</body>
</html>