<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Scope</h2>

<div>
    <h3>JavaScript Scope - Local Variable</h3>

    <p>Outside of my function (carIdFunc()), the variable
    carName is undefined.</p>
    <p id="carName1"></p>
    <p id="carName2"></p>

    <script>
        carIdFunc();

        function carIdFunc() {
            var carName = "Volvo";
            document.getElementById("carName1").innerHTML =
                typeof carName + " " + carName;
        }

        document.getElementById("carName2").innerHTML =
            typeof carName;
    </script>
</div>

<div>
    <h3>JavaScript Scope - Global Variable</h3>

    <p>A GLOBAL variable can be accessed from any script or
    function.</p>
    <p id="carName3"></p>

    <script>
        var carName = "Volvo DL240";
        myFunction();

        function myFunction() {
            document.getElementById("carName3").innerHTML =
                "I can display " + carName;
        }
    </script>
</div>

<div>
    <h3>JavaScript Scope - Automatically Global</h3>

    <p>If you assign a value to a variable that had not been
    declared, it will automatically become a GLOBAL variable:</p>
    <p id="carName4"></p>

    <script>
        myfunction2();

        document.getElementById("carName4").innerHTML =
            "I can display " + carName;

        function myfunction2() {
            carName = "Volvo";
        }
    </script>
</div>

<div>
    <h3>JavaScript Scope - HTML</h3>

    <p>In HTML, global variable defined with <b>var</b>, will
    become window variables.</p>
    <p id="globalNames"></p>

    <script>
        var carName = "Volvo tank";

        document.getElementById("globalNames").innerHTML =
            "I display ... " + carName;
    </script>
</div>

</body>
</html>