<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>

<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Statements Tutorials</h1>

<p>from w3schools.com</p>
<div>
    <h2>JavaScript Statements</h2>
    <p>
        A <b>JavaScript program</b> is a list of <b>statements</b> to be exectued by a computer.
    </p>

    <p id="JSProgramOne"></p>

    <script>
        var x, y, z;
        x = 5;
        y = 6;
        z = x + y;

        document.getElementById("JSProgramOne").innerHTML = "The Value of z is " + z + ".";
    </script>

</div>

</body>
</html>