<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>

<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Statements Tutorials</h1>

<p>from w3schools.com</p>
<div>
    <h2>JavaScript Statements</h2>
    <p>
        A <b>JavaScript program</b> is a list of <b>statements</b> to be exectued by a computer.
    </p>

    <p id="JSProgramOne"></p>

    <script>
        var x, y, z;
        x = 5;
        y = 6;
        z = x + y;

        document.getElementById("JSProgramOne").innerHTML = "The Value of z is " + z + ".";
    </script>
</div>

<div>
    <h2>Statements</h2>

    <p>In HTML, JavaScript statements are executed by the browser.</p>

    <p id="JSProgramTwo"></p>

    <script>
        document.getElementById("JSProgramTwo").innerHTML = "Hello Dolly. Well... did it.";
    </script>
</div>

<div>
    <h2>JavaScript Statements</h2>

    <p>JavaScript statements are separated by semicolons.</p>

    <p id="semicolonPractice"></p>

    <script>
        var a, b, c;
        a = 5;
        b = 6;
        c = a + b;
        document.getElementById("semicolonPractice").innerHTML = c;
    </script>
</div>

<div>
    <p>Multiple statements on one line is allowed.</p>

    <p id="semicolonPracticeTwo"></p>

    <script>
        var a, b, c;
        a = 5; b = 6; c = a + b;
        document.getElementById("semicolonPracticeTwo").innerHTML = c;
    </script>
</div>

<div>
    <h2>JavaScript Statements</h2>

    <p>
        The best place to break a code line
        is after an operator or a comma.
    </p>

    <p id="spaceDemo"></p>

    <script>
        document.getElementById("spaceDemo").innerHTML =
        "Hello Dolly!";
    </script>
</div>

<div>
    <h2>JavaScript Statements</h2>

    <p>JavaScript code blocks are written between { and }</p>

    <button type="button" onclick="myFunction()">Click Me!</button>

    <p id="demoOne"></p>
    <p id="demoTwo"></p>

    <script>
function myFunction() {
  document.getElementById("demoOne").innerHTML = "Hello Dolly!";
  document.getElementById("demoTwo").innerHTML = "How are you?";
}
</script>
</div>

</body>
</html>