<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - Strict Mode</h1>
<p>from w3schools.com</p>

<div>
    <h2>With the "use strict":</h2>
    <h3>Using a variable without declaring it is not
    allowed.</h3>

    <p>Activate debugging in your browser (F12) to see the
    error report.</p>

    <script>
        "use strict";
        piX = 3.14; // This will cause an error (y is not defined)
    </script>
</div>

<div>
    <h2>Global "use strict" declaration.</h2>

    <p>Activate debugging in your browser (F12) to see the
    error report.</p>

    <script>
        "use strict";
        strictFunction();

        function strictFunction() {
            piY = 3.14;
            // This will cause an error (y is not defined)
        }
    </script>
</div>

<div>
    <p>"use strict" in a function will only cause errors in
    that function.</p>
    <p>Activate debugging in your browser (F12) to see the
    error report.</p>

    <script>
        piX2 = 3.14; // This will not cause an error.

        strictFunctionX2();

        function strictFunctionX2() {
            "use strict";
            piY2 = 3.14; // This will cause an error as piY2
                is not defined).
        }
    </script>
</div>

<div>
    <h3>--Not Allowed in Strict Mode--</h3>

    <h3>With "use strict":</h3>
    <h3>Using a variable without declaring it is not
    allowed.</h3>

    <p>Activate debugging in your browser (F12) to see
    the error report.</p>

    <script>
        "use strict";
        x = 3.14;
    </script>
</div>

</body>
</html>