<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Strings Tutorials</h1>

<p>from w3schools.com</p>

<h2>String Methods - Boo Yaah!</h2>

<div>
    <h3>JavaScript String Properties</h3>
    <p>
        The length property returns the length of a string:
    </p>

    <p id="lengthDemo"></p>

    <script>
        var txt = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        document.getElementById("lengthDemo").innerHTML =
        txt.length;
    </script>
</div>

<div>
    <h3>JavaScript String Methods</h3>
    <p>The indexOf() method returns the position of the first occurrence of a specified text:</p>

    <p id="indexOfDemo"></p>

    <script>
        var str = "Please locate where 'locate' occurs!";
        var pos = str.indexOf("locate");
        document.getElementById("indexOfDemo").innerHTML =
        pos;
    </script>
</div>

<div>
    <h3>JavaScript String Methods</h3>
    <p>The lastIndexOf() method returns the position
    of the last occurrence of a specified text:</p>

    <p id="lastIndexOfDemo"></p>

    <script>
        var posLast = str.lastIndexOf("locate");
        document.getElementById("lastIndexOfDemo").innerHTML =
        posLast;
    </script>
</div>

<div>
    <h3>JavaScript String Methods</h3>
    <p>
        Both indexOf() and lastIndexOf() return -1
        if the text is not found:
    </p>

    <p id="negDemo"></p>

    <script>
        var negPos = str.indexOf("John");
        document.getElementById("negDemo").innerHTML = negPos;
    </script>
</div>

</body>
</html>