<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - Strict Mode</h1>
<p>from w3schools.com</p>

<div>
    <h2>With the "use strict":</h2>
    <h3>Using a variable without declaring it is not
    allowed.</h3>

    <p>Activate debugging in your browser (F12) to see the
    error report.</p>

    <script>
        "use strict";
        pi = 3.14;
    </script>
</div>

</body>
</html>