<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Strings Tutorials</h1>

<p>from w3schools.com</p>

<h2>String Methods - Boo Yaah!</h2>

<div>
    <h3>JavaScript String Properties</h3>
    <p>
        The length property returns the length of a string:
    </p>

    <p id="lengthDemo"></p>

    <script>
        var txt = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        document.getElementById("lengthDemo").innerHTML =
        txt.length;
    </script>
</div>

</body>
</html>