<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Strings Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h3>JavaScript Strings</h3>

    <p id="stringsDemo"></p>

    <script>
        var x = "John Doe";
        // Strings written inside of quotes

        document.getElementById("stringsDemo").innerHTML = x;
    </script>
</div>

<div>
    <h3>JavaScript Strings</h3>

    <p>Strings are written inside quotes. You can use single or double quotes:</p>

    <p id="demoQuotes"></p>

    <script>

        var carName1 = "Volvo XC60"; // Double quotes
        var carName2 = 'Volvo XC60'; // Single quotes

        document.getElementById("demoQuotes").innerHTML =
        carName1 + " / " + carName2;
    </script>
</div>

<div>
    <h3>JavaScript String</h3>

    <p>You can use quotes inside a string, as long as they
    don't match the quotes surrounding the string.</p>

    <p id="quotesDemo"></p>

    <script>
        var answer1 = "It's alright";
        var answer2 = "He is called 'Johnny'";
        var answer3 = 'He is called "Johnny"';

        document.getElementById("quotesDemo").innerHTML =
        answer1 + "<br>" +
        answer2 + "<br>" +
        answer3;
    </script>
</div>

<div>
    <h3>String Properties - String Length</h3>
    <p>The length property returns the length of a string:</p>

    <p id="lengthDemo"></p>

    <script>
        var txt = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        document.getElementById("lengthDemo").innerHTML =
        txt.length;
    </script>
</div>

<div>
    <h3>String Properties - escape sequence</h3>
    <p>The escape sequence \" inserts a double quote in a string.</p>

    <p id="escapeDemo"></p>

    <p>escape sequence\' inserts single quote.</p>
    <p id="escapeDemo2"></p>

    <p>escape sequence \\ inserts a backslash into a string.</p>
    <p id="escapeDemo3"></p>
    <script>
        var x = "--We are the so-called \"Vikings\" from the north.";
        document.getElementById("escapeDemo").innerHTML = x;

        var y = '--It\'s alright.';
        document.getElementById("escapeDemo2").innerHTML = y;

        var z = "--The character \\ is called backslash.";
        document.getElementById("escapeDemo3").innerHTML = z;
    </script>
</div>

<div>
    <h3>JavaScript Statements</h3>

    <p>
        The best place to break a code line is after an operator or a comma.
    </p>
    <p id="breakDemo"></p>

    <p>
        You can break a code line within a text string with a backslash.
    </p>
    <p id="breakDemo2"></p>
    <p>
        However, this is not the preferred Method.
        It is safer to break a code line in a string by using
        string addition.
    </p>
    <p id="breakDemo3"></p>

    <p>
        You cannot break code lines with a \ backslash.
    </p>
    <p id="breakDemo4"></p>

    <script>
        document.getElementById("breakDemo").innerHTML =
        "Hello Dolly!";

        document.getElementById("breakDemo2").innerHTML =
        "Hello \
        Dolly!";

        document.getElementById("breakDemo3").innerHTML =
        "Hello " +
        "Dolly!";

<!--        The code breaks the rest of the sequence... because of the backslash-->
<!--        document.getElementById("breakDemo4").innerHTML = \-->
<!--        "Hello Dolly.";-->
    </script>
</div>

<div>
    <h3>Strings as objects</h3>

    <p id="demoObject"></p>

    <script>
        var x = "John";
        var y = new String("John");

        document.getElementById("demoObject").innerHTML =
        typeof x + "<br>" +
        typeof y;
    </script>
</div>

<div>
    <h3>Never Create Strings as objects.</h3>
    <p>
        Strings and objects cannot safely be compared.
    </p>

    <p id="stringObjectDemo"></p>
    <p id="stringObjectDemo2"></p>

    <p>
        Even worse, objects cannot be compared.
    </p>
    <p id="stringObjectDemo3"></p>
    <p id="stringObjectDemo4"></p>


    <script>
        var x = "John";
        var y = new String("John");
        var z = new String("John");

        document.getElementById("stringObjectDemo").innerHTML =
        (x==y);

        document.getElementById("stringObjectDemo2").innerHTML =
        (x===y);

        document.getElementById("stringObjectDemo3").innerHTML =
        (y==z);

        document.getElementById("stringObjectDemo4").innerHTML =
        (y===z);

    </script>
</div>

</body>
</html>