<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Switch</h2>

<div>
    <h3>Days of the Week Switch</h3>

    <p id="diaDeLaSemana"></p>

    <script>
        var dia;

        switch (new Date().getDay()) {
            case 0:
                dia = "Domingo";
                break;
            case 1:
                dia = "Lunes";
                break;
            case 2:
                dia = "Martes";
                break;
            case 3:
                dia = "Miercoles";
                break;
            case 4:
                dia = "Jueves";
                break;
            case 5:
                dia = "Viernes";
                break;
            case 6:
                dia = "Sabado";
        }

        document.getElementById("diaDeLaSemana").innerHTML =
            "Hoy es " + dia + ".";
    </script>
</div>

<div>
    <h3>The default keyword</h3>

    <p id="defaultDemo"></p>

    <script>
        var texto;

        switch (new Date().getDay()) {
            case 6:
                texto = "Hoje e Sabado";
                break;
            case 0:
                texto = "Hoje e Domingo";
                break;
            default:
                texto = "Tou esperando o fim da semana.";
        }

        document.getElementById("defaultDemo").innerHTML =
            texto;
    </script>
</div>

<div>
    <h3>The default keyword</h3>

    <p>The default case does not have to be at the end.</p>

    <p id="defaultMaya"></p>

    <script>
        var teextoil;

        switch (new Date().getDay()) {
            default:
                teextoil = "Ba'axten Bejla'e' ma' u xuulil semaana?";
                break;
            case 6:
                teextoil = "Bejla'e', Saabado k'iin";
                break;
            case 0:
                teextoil = "Bejla'e', Domiingo k'iin";
        }

        document.getElementById("defaultMaya").innerHTML =
            teextoil;
    </script>
</div>

<div>
    <h3>Common Code Blocks</h3>

    <p>You can use multiple cases with the same code block</p>
    <p id="commonBlocks"></p>
    <script>
        var weekText;

        switch (new Date().getDay()) {
            case 4:
            case 5:
                weekText = "The weekend is soon upon us.";
                break;
            case 6:
            case 0:
                weekText = "The weekend is now!";
                break;
            default:
                weekText = "When shall the weekend be upon us?";
        }
        document.getElementById("commonBlocks").innerHTML =
            weekText;
    </script>
</div>

<div>
    <h3>Strict Comparisons</h3>

    <p>Values must be the same types.</p>
    <p id="binaryDemo"></p>

    <script>
        var resp;
        var x = "0";

        switch (x) {
            case 0:
                resp = "Off";
                break;
            case 1:
                resp = "On";
                break;
            default:
                resp = "No value found";
        }
        document.getElementById("binaryDemo").innerHTML =
            resp;
    </script>
</div>

</body>
</html>