<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Statements Tutorials</h1>
<p>form w3schools.com</p>

<div>
    <h2>JavaScript Syntax</h2>
    <h3>Numbers</h3>
    <p>Numbers can be written with or without decimals.</p>

    <p id="numberDemo"></p>

    <script>
        document.getElementById("numberDemo").innerHTML = 10.50;
    </script>
</div>

<div>
    <h3>Strings</h3>
    <p>Strings can be written with double or single quotes.</p>

    <p id="stringDemo"></p>

    <script>
        document.getElementById("stringDemo").innerHTML = "John Doe";
    </script>
</div>

<div>
    <h3>Variables</h3>
    
</div>

</body>
</html>