<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>Java Script - this Keyword</h1>
<p>from w3schools.com</p>

<div>
    <h3>The JavaScript <i>this</i> Keyword</h3>

    <p>In this example, <b>this</b> represents the
    <b>person</b> object.</p>

    <p>Because the person object "owns" the fullName
    method.</p>

    <p id="fullNameDemo"></p>

    <script>
        var person = {
            firstName: "John",
            lastName: "Doe",
            id: 5566,

            fullName: function() {
                return this.firstName + " " +
                    this.lastName;
            }
        };

        document.getElementById("fullNameDemo").innerHTML =
            person.fullName();
    </script>
</div>

<div>
    <h3>The JavaScript <i>this</i> Keyword</h3>

    <p>In this example, <b>this</b> refers to the window
    Object:</p>

    <p id="winObDemo"></p>

    <script>
        var x = this;
        document.getElementById("winObDemo").innerHTML = x;
    </script>
</div>

<div>
    <p>This example uses uses the "strict mode" - however,
    it still refers to the window Object:</p>

    <p id="winDemo"></p>

    <script>
        "use strict";
        var x = this;
        document.getElementById("winDemo").innerHTML = x;
    </script>
</div>

<div>
    <h3>JavaScript THIS keyword</h3>

    <p>In this example, <b>this</b> represents the
    object that "owns" the function:</p>

    <p id="funcOwns"></p>

    <p>In a function, by default, <b>this</b> refers to
    the Global Object.</p>

    <p>In strict mode, <b>this</b> is undefined, because
    strict mode does not allow default binding:</p>

    <p id="strictFunc"></p>

    <script>
        document.getElementById("funcOwns").innerHTML =
            myFunction();
        function myFunction() {return this;}

        "use strict";
        document.getElementById("strictFunc").innerHTML =
            myStrictFunc();
        function myStrictFunc() {return this;}
    </script>
</div>

<div>
    <h3>this in Event Handlers</h3>

    <button onclick = "this.style.display='none'">
        Click to Remove this Button!
    </button>
</div>

</body>
</html>