<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Type Conversion</h2>

<div>
    <h3>The JavaScript typeof Operator</h3>

    <p>The typeof operator returns the type of a
    variable, object, function or expression.</p>

    <p id="typeofDemo"></p>

    <script>
        document.getElementById("typeofDemo").innerHTML =
            typeof "john" + "<br>" +
            typeof 3.14 + "<br>" +
            typeof NaN + "<br>" +
            typeof false + "<br>" +
            typeof [1, 2, 3, 4]+ "<br>" +
            typeof {name: "john", age: 34} + "<br>" +
            typeof new Date() + "<br>" +
            typeof function() {} + "<br>" +
            typeof myCar + "<br>" +
            typeof null;
    </script>
</div>

</body>
</html>