<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>
<body>
<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h2>JavaScript Type Conversion</h2>

<div>
    <h3>The JavaScript typeof Operator</h3>

    <p>The typeof operator returns the type of a
    variable, object, function or expression.</p>

    <p id="typeofDemo"></p>

    <script>
        document.getElementById("typeofDemo").innerHTML =
            typeof "john" + "<br>" +
            typeof 3.14 + "<br>" +
            typeof NaN + "<br>" +
            typeof false + "<br>" +
            typeof [1, 2, 3, 4]+ "<br>" +
            typeof {name: "john", age: 34} + "<br>" +
            typeof new Date() + "<br>" +
            typeof function() {} + "<br>" +
            typeof myCar + "<br>" +
            typeof null;
    </script>
</div>

<div>
    <h3>The JavaScript constructor Property</h3>

    <p>The constructor property returns the constructor
    function for a variable or an object.</p>

    <p id="constructDemo"></p>

    <script>
        document.getElementById("constructDemo").innerHTML =
            "john".constructor + "<br>" +
            (3.14).constructor + "<br>" +
            false.constructor + "<br>" +
            [1, 2, 3, 4].constructor + "<br>" +
            {name:"john", age:34}.constructor + "<br>" +
            new Date().constructor + "<br>" +
            function() {}.constructor;
    </script>
</div>

<div>
    <h3>JavaScript Arrays</h3>

    <p>This "home made" isArray() function returns true
    when used on an array:</p>

    <p id="constructDemo2"></p>

    <script>
        var fruits = ["Banana", "Orange", "Apple", "Mango"];

        document.getElementById("constructDemo2").innerHTML =
            isArray(fruits);

        function isArray(myArray) {
            return myArray.constructor.toString().indexOf("Array") > -1;
        }
    </script>
</div>
</body>
</html>