<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>
</head>

<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Variables Tutorials</h1>

<p>from w3schools.com</p>

<div>
    <h2>JavaScript Variables</h2>
    <p>In this example, x, y, and z are variables. </p>

    <p id="variableDemo"></p>

    <script>
        var x = 5;
        var y = 6;
        var z = x + y;
        document.getElementById("variableDemo").innerHTML = "The value of z is: " + z;
    </script>
</div>

<div>
    <h2>JavaScript Variables</h2>
    <p id="varDemoTwo"></p>

    <script>
        var price1 = 5;
        var price2 = 6;
        var total = price1 + price2;

        document.getElementById("varDemoTwo").innerHTML = "The total is: " + total;
    </script>
</div>

<div>
    <h2>JavaScript Variables</h2>
    <p>Strings are written with quotes.</p>
    <p>Numbers are written without quotes.</p>

    <p id="varDemoThree"></p>

    <script>
        var pi = 3.14;
        var person = "John Doe";
        var answer = 'Yes, I am!';

        document.getElementById("varDemoThree").innerHTML = pi + "<br>" + person + "<br>" + answer;
    </script>
</div>

</body>
</html>
