<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Tutorial</title>

    <script>
        function initialFunction() {
        document.getElementById("paraDemo").innerHTML = "Paragraph Changed!";
        }
    </script>

</head>
<body>

<form>
    <div><a href="/">Return to Index</a></div>
</form>

<h1>JavaScript Tutorial</h1>
<h2>"Where To"</h2>

<!--Initial change-->
<h2>JavaScript in Body</h2>
<p id="first_demo"></p>

<script>
    document.getElementById("first_demo").innerHTML = "doing the JavaScript thingy...";
</script>

<!--JavaScript function in head-->
<h2>JavaScript in the Head</h2>
<p id="paraDemo">Blah, Blah, Blah, paragraph.</p>

<button type="button"
        onclick="initialFunction()">Try to Change it!
</button>

<!--JavaScript function in body-->
<h2>JavaScript in Body</h2>

<p id="bodyFunctionDemo">Paragraph for that will change.</p>

<button type="button"
        onclick="bodyFunction()">Try to change it
</button>

<script>
    function bodyFunction() {
    document.getElementById("bodyFunctionDemo").innerHTML =
    "Paragraph is changed... oh dang.";
    }
</script>

<!--External JavaScript-->
<h2>External JavaScript</h2>
<p id="demoJSdoc">A Paragraph that is about to change with button click and external docs.</p>

<button type="button"
        onclick="myFunctionEx()">Try It!
</button>

<p>(myFunctionEx is stored in an external file called "myScript.js"</p>

<script src="myScript.js"></script>

</body>
</html>